
body { background:#1E1E1E; }
h1 { color: #E1230F }
div#logo h1 { color: #E1230F }
#menu-links ul > li a { color: #c80a00 }
#breadcrumbs { color: #c80a00 }
#breadcrumbs a { color: #c80a00; }
table.album-showcast .release-date { color: #be0000 }
table.album-showcast .summary { color: #d21400 }
table.album-showcast a { color: #fa3c28 }
table.album-showcast .image img { border: 1px solid #2d2d2d }
table.tracks td { color: #d21400 }
table.tracks tr:nth-child(2n+1) { background-color: #373737 }
#top-tags { background-color: #373737 }
#tags-links li { color: #c80a00 }
#tags-links li a { color: #fa3c28 }
div#footer { background: #000000; color: #E1230F; }
div#footer a { color: #E1230F; }
