
body { background:#140A0A; }
h1 { color: #F0F5E6 }
div#logo h1 { color: #F0F5E6 }
#menu-links ul > li a { color: #d7dccd }
#breadcrumbs { color: #d7dccd }
#breadcrumbs a { color: #d7dccd; }
table.album-showcast .release-date { color: #cdd2c3 }
table.album-showcast .summary { color: #e1e6d7 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #231919 }
table.tracks td { color: #e1e6d7 }
table.tracks tr:nth-child(2n+1) { background-color: #2d2323 }
#top-tags { background-color: #2d2323 }
#tags-links li { color: #d7dccd }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #F0F5E6; }
div#footer a { color: #F0F5E6; }
