
body { background:#E1DCD7; }
h1 { color: #41372D }
div#logo h1 { color: #41372D }
#menu-links ul > li a { color: #281e14 }
#breadcrumbs { color: #281e14 }
#breadcrumbs a { color: #281e14; }
table.album-showcast .release-date { color: #1e140a }
table.album-showcast .summary { color: #32281e }
table.album-showcast a { color: #5a5046 }
table.album-showcast .image img { border: 1px solid #f0ebe6 }
table.tracks td { color: #32281e }
table.tracks tr:nth-child(2n+1) { background-color: #faf5f0 }
#top-tags { background-color: #faf5f0 }
#tags-links li { color: #281e14 }
#tags-links li a { color: #5a5046 }
div#footer { background: #c3beb9; color: #41372D; }
div#footer a { color: #41372D; }
