
body { background:#140000; }
h1 { color: #E61E50 }
div#logo h1 { color: #E61E50 }
#menu-links ul > li a { color: #cd0537 }
#breadcrumbs { color: #cd0537 }
#breadcrumbs a { color: #cd0537; }
table.album-showcast .release-date { color: #c3002d }
table.album-showcast .summary { color: #d70f41 }
table.album-showcast a { color: #ff3769 }
table.album-showcast .image img { border: 1px solid #230f0f }
table.tracks td { color: #d70f41 }
table.tracks tr:nth-child(2n+1) { background-color: #2d1919 }
#top-tags { background-color: #2d1919 }
#tags-links li { color: #cd0537 }
#tags-links li a { color: #ff3769 }
div#footer { background: #000000; color: #E61E50; }
div#footer a { color: #E61E50; }
