
body { background:#F5F5F5; }
h1 { color: #5A5F96 }
div#logo h1 { color: #5A5F96 }
#menu-links ul > li a { color: #41467d }
#breadcrumbs { color: #41467d }
#breadcrumbs a { color: #41467d; }
table.album-showcast .release-date { color: #373c73 }
table.album-showcast .summary { color: #4b5087 }
table.album-showcast a { color: #7378af }
table.album-showcast .image img { border: 1px solid #ffffff }
table.tracks td { color: #4b5087 }
table.tracks tr:nth-child(2n+1) { background-color: #ffffff }
#top-tags { background-color: #ffffff }
#tags-links li { color: #41467d }
#tags-links li a { color: #7378af }
div#footer { background: #d7d7d7; color: #5A5F96; }
div#footer a { color: #5A5F96; }
