
body { background:#968769; }
h1 { color: #190500 }
div#logo h1 { color: #190500 }
#menu-links ul > li a { color: #000000 }
#breadcrumbs { color: #000000 }
#breadcrumbs a { color: #000000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #0a0000 }
table.album-showcast a { color: #321e19 }
table.album-showcast .image img { border: 1px solid #a59678 }
table.tracks td { color: #0a0000 }
table.tracks tr:nth-child(2n+1) { background-color: #afa082 }
#top-tags { background-color: #afa082 }
#tags-links li { color: #000000 }
#tags-links li a { color: #321e19 }
div#footer { background: #78694b; color: #190500; }
div#footer a { color: #190500; }
