
body { background:#140005; }
h1 { color: #FAFAE6 }
div#logo h1 { color: #FAFAE6 }
#menu-links ul > li a { color: #e1e1cd }
#breadcrumbs { color: #e1e1cd }
#breadcrumbs a { color: #e1e1cd; }
table.album-showcast .release-date { color: #d7d7c3 }
table.album-showcast .summary { color: #ebebd7 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #230f14 }
table.tracks td { color: #ebebd7 }
table.tracks tr:nth-child(2n+1) { background-color: #2d191e }
#top-tags { background-color: #2d191e }
#tags-links li { color: #e1e1cd }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #FAFAE6; }
div#footer a { color: #FAFAE6; }
