
body { background:#0F1414; }
h1 { color: #F0E1E1 }
div#logo h1 { color: #F0E1E1 }
#menu-links ul > li a { color: #d7c8c8 }
#breadcrumbs { color: #d7c8c8 }
#breadcrumbs a { color: #d7c8c8; }
table.album-showcast .release-date { color: #cdbebe }
table.album-showcast .summary { color: #e1d2d2 }
table.album-showcast a { color: #fffafa }
table.album-showcast .image img { border: 1px solid #1e2323 }
table.tracks td { color: #e1d2d2 }
table.tracks tr:nth-child(2n+1) { background-color: #282d2d }
#top-tags { background-color: #282d2d }
#tags-links li { color: #d7c8c8 }
#tags-links li a { color: #fffafa }
div#footer { background: #000000; color: #F0E1E1; }
div#footer a { color: #F0E1E1; }
