
body { background:#141414; }
h1 { color: #F5EBB4 }
div#logo h1 { color: #F5EBB4 }
#menu-links ul > li a { color: #dcd29b }
#breadcrumbs { color: #dcd29b }
#breadcrumbs a { color: #dcd29b; }
table.album-showcast .release-date { color: #d2c891 }
table.album-showcast .summary { color: #e6dca5 }
table.album-showcast a { color: #ffffcd }
table.album-showcast .image img { border: 1px solid #232323 }
table.tracks td { color: #e6dca5 }
table.tracks tr:nth-child(2n+1) { background-color: #2d2d2d }
#top-tags { background-color: #2d2d2d }
#tags-links li { color: #dcd29b }
#tags-links li a { color: #ffffcd }
div#footer { background: #000000; color: #F5EBB4; }
div#footer a { color: #F5EBB4; }
