
body { background:#F0EBE1; }
h1 { color: #646964 }
div#logo h1 { color: #646964 }
#menu-links ul > li a { color: #4b504b }
#breadcrumbs { color: #4b504b }
#breadcrumbs a { color: #4b504b; }
table.album-showcast .release-date { color: #414641 }
table.album-showcast .summary { color: #555a55 }
table.album-showcast a { color: #7d827d }
table.album-showcast .image img { border: 1px solid #fffaf0 }
table.tracks td { color: #555a55 }
table.tracks tr:nth-child(2n+1) { background-color: #fffffa }
#top-tags { background-color: #fffffa }
#tags-links li { color: #4b504b }
#tags-links li a { color: #7d827d }
div#footer { background: #d2cdc3; color: #646964; }
div#footer a { color: #646964; }
