
body { background:#140A0A; }
h1 { color: #EBD7AF }
div#logo h1 { color: #EBD7AF }
#menu-links ul > li a { color: #d2be96 }
#breadcrumbs { color: #d2be96 }
#breadcrumbs a { color: #d2be96; }
table.album-showcast .release-date { color: #c8b48c }
table.album-showcast .summary { color: #dcc8a0 }
table.album-showcast a { color: #fff0c8 }
table.album-showcast .image img { border: 1px solid #231919 }
table.tracks td { color: #dcc8a0 }
table.tracks tr:nth-child(2n+1) { background-color: #2d2323 }
#top-tags { background-color: #2d2323 }
#tags-links li { color: #d2be96 }
#tags-links li a { color: #fff0c8 }
div#footer { background: #000000; color: #EBD7AF; }
div#footer a { color: #EBD7AF; }
