
body { background:#191919; }
h1 { color: #B9BEBE }
div#logo h1 { color: #B9BEBE }
#menu-links ul > li a { color: #a0a5a5 }
#breadcrumbs { color: #a0a5a5 }
#breadcrumbs a { color: #a0a5a5; }
table.album-showcast .release-date { color: #969b9b }
table.album-showcast .summary { color: #aaafaf }
table.album-showcast a { color: #d2d7d7 }
table.album-showcast .image img { border: 1px solid #282828 }
table.tracks td { color: #aaafaf }
table.tracks tr:nth-child(2n+1) { background-color: #323232 }
#top-tags { background-color: #323232 }
#tags-links li { color: #a0a5a5 }
#tags-links li a { color: #d2d7d7 }
div#footer { background: #000000; color: #B9BEBE; }
div#footer a { color: #B9BEBE; }
