
body { background:#5A2D2D; }
h1 { color: #EBC8C8 }
div#logo h1 { color: #EBC8C8 }
#menu-links ul > li a { color: #d2afaf }
#breadcrumbs { color: #d2afaf }
#breadcrumbs a { color: #d2afaf; }
table.album-showcast .release-date { color: #c8a5a5 }
table.album-showcast .summary { color: #dcb9b9 }
table.album-showcast a { color: #ffe1e1 }
table.album-showcast .image img { border: 1px solid #693c3c }
table.tracks td { color: #dcb9b9 }
table.tracks tr:nth-child(2n+1) { background-color: #734646 }
#top-tags { background-color: #734646 }
#tags-links li { color: #d2afaf }
#tags-links li a { color: #ffe1e1 }
div#footer { background: #3c0f0f; color: #EBC8C8; }
div#footer a { color: #EBC8C8; }
