
body { background:#4B8264; }
h1 { color: #192319 }
div#logo h1 { color: #192319 }
#menu-links ul > li a { color: #000a00 }
#breadcrumbs { color: #000a00 }
#breadcrumbs a { color: #000a00; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #0a140a }
table.album-showcast a { color: #323c32 }
table.album-showcast .image img { border: 1px solid #5a9173 }
table.tracks td { color: #0a140a }
table.tracks tr:nth-child(2n+1) { background-color: #649b7d }
#top-tags { background-color: #649b7d }
#tags-links li { color: #000a00 }
#tags-links li a { color: #323c32 }
div#footer { background: #2d6446; color: #192319; }
div#footer a { color: #192319; }
