
body { background:#0F0F14; }
h1 { color: #CDD2D2 }
div#logo h1 { color: #CDD2D2 }
#menu-links ul > li a { color: #b4b9b9 }
#breadcrumbs { color: #b4b9b9 }
#breadcrumbs a { color: #b4b9b9; }
table.album-showcast .release-date { color: #aaafaf }
table.album-showcast .summary { color: #bec3c3 }
table.album-showcast a { color: #e6ebeb }
table.album-showcast .image img { border: 1px solid #1e1e23 }
table.tracks td { color: #bec3c3 }
table.tracks tr:nth-child(2n+1) { background-color: #28282d }
#top-tags { background-color: #28282d }
#tags-links li { color: #b4b9b9 }
#tags-links li a { color: #e6ebeb }
div#footer { background: #000000; color: #CDD2D2; }
div#footer a { color: #CDD2D2; }
