
body { background:#D2CDCD; }
h1 { color: #0F140F }
div#logo h1 { color: #0F140F }
#menu-links ul > li a { color: #000000 }
#breadcrumbs { color: #000000 }
#breadcrumbs a { color: #000000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #000500 }
table.album-showcast a { color: #282d28 }
table.album-showcast .image img { border: 1px solid #e1dcdc }
table.tracks td { color: #000500 }
table.tracks tr:nth-child(2n+1) { background-color: #ebe6e6 }
#top-tags { background-color: #ebe6e6 }
#tags-links li { color: #000000 }
#tags-links li a { color: #282d28 }
div#footer { background: #b4afaf; color: #0F140F; }
div#footer a { color: #0F140F; }
