
body { background:#E1320F; }
h1 { color: #1E000A }
div#logo h1 { color: #1E000A }
#menu-links ul > li a { color: #050000 }
#breadcrumbs { color: #050000 }
#breadcrumbs a { color: #050000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #0f0000 }
table.album-showcast a { color: #371923 }
table.album-showcast .image img { border: 1px solid #f0411e }
table.tracks td { color: #0f0000 }
table.tracks tr:nth-child(2n+1) { background-color: #fa4b28 }
#top-tags { background-color: #fa4b28 }
#tags-links li { color: #050000 }
#tags-links li a { color: #371923 }
div#footer { background: #c31400; color: #1E000A; }
div#footer a { color: #1E000A; }
