
body { background:#140A05; }
h1 { color: #BEAA50 }
div#logo h1 { color: #BEAA50 }
#menu-links ul > li a { color: #a59137 }
#breadcrumbs { color: #a59137 }
#breadcrumbs a { color: #a59137; }
table.album-showcast .release-date { color: #9b872d }
table.album-showcast .summary { color: #af9b41 }
table.album-showcast a { color: #d7c369 }
table.album-showcast .image img { border: 1px solid #231914 }
table.tracks td { color: #af9b41 }
table.tracks tr:nth-child(2n+1) { background-color: #2d231e }
#top-tags { background-color: #2d231e }
#tags-links li { color: #a59137 }
#tags-links li a { color: #d7c369 }
div#footer { background: #000000; color: #BEAA50; }
div#footer a { color: #BEAA50; }
