
body { background:#FAF000; }
h1 { color: #19000A }
div#logo h1 { color: #19000A }
#menu-links ul > li a { color: #000000 }
#breadcrumbs { color: #000000 }
#breadcrumbs a { color: #000000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #0a0000 }
table.album-showcast a { color: #321923 }
table.album-showcast .image img { border: 1px solid #ffff0f }
table.tracks td { color: #0a0000 }
table.tracks tr:nth-child(2n+1) { background-color: #ffff19 }
#top-tags { background-color: #ffff19 }
#tags-links li { color: #000000 }
#tags-links li a { color: #321923 }
div#footer { background: #dcd200; color: #19000A; }
div#footer a { color: #19000A; }
