
body { background:#00140F; }
h1 { color: #FAFAFA }
div#logo h1 { color: #FAFAFA }
#menu-links ul > li a { color: #e1e1e1 }
#breadcrumbs { color: #e1e1e1 }
#breadcrumbs a { color: #e1e1e1; }
table.album-showcast .release-date { color: #d7d7d7 }
table.album-showcast .summary { color: #ebebeb }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #0f231e }
table.tracks td { color: #ebebeb }
table.tracks tr:nth-child(2n+1) { background-color: #192d28 }
#top-tags { background-color: #192d28 }
#tags-links li { color: #e1e1e1 }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #FAFAFA; }
div#footer a { color: #FAFAFA; }
