
body { background:#C3AF91; }
h1 { color: #140F0F }
div#logo h1 { color: #140F0F }
#menu-links ul > li a { color: #000000 }
#breadcrumbs { color: #000000 }
#breadcrumbs a { color: #000000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #050000 }
table.album-showcast a { color: #2d2828 }
table.album-showcast .image img { border: 1px solid #d2bea0 }
table.tracks td { color: #050000 }
table.tracks tr:nth-child(2n+1) { background-color: #dcc8aa }
#top-tags { background-color: #dcc8aa }
#tags-links li { color: #000000 }
#tags-links li a { color: #2d2828 }
div#footer { background: #a59173; color: #140F0F; }
div#footer a { color: #140F0F; }
