
body { background:#F5E6AA; }
h1 { color: #4B3C32 }
div#logo h1 { color: #4B3C32 }
#menu-links ul > li a { color: #322319 }
#breadcrumbs { color: #322319 }
#breadcrumbs a { color: #322319; }
table.album-showcast .release-date { color: #28190f }
table.album-showcast .summary { color: #3c2d23 }
table.album-showcast a { color: #64554b }
table.album-showcast .image img { border: 1px solid #fff5b9 }
table.tracks td { color: #3c2d23 }
table.tracks tr:nth-child(2n+1) { background-color: #ffffc3 }
#top-tags { background-color: #ffffc3 }
#tags-links li { color: #322319 }
#tags-links li a { color: #64554b }
div#footer { background: #d7c88c; color: #4B3C32; }
div#footer a { color: #4B3C32; }
