
body { background:#0F141E; }
h1 { color: #B9D7EB }
div#logo h1 { color: #B9D7EB }
#menu-links ul > li a { color: #a0bed2 }
#breadcrumbs { color: #a0bed2 }
#breadcrumbs a { color: #a0bed2; }
table.album-showcast .release-date { color: #96b4c8 }
table.album-showcast .summary { color: #aac8dc }
table.album-showcast a { color: #d2f0ff }
table.album-showcast .image img { border: 1px solid #1e232d }
table.tracks td { color: #aac8dc }
table.tracks tr:nth-child(2n+1) { background-color: #282d37 }
#top-tags { background-color: #282d37 }
#tags-links li { color: #a0bed2 }
#tags-links li a { color: #d2f0ff }
div#footer { background: #000000; color: #B9D7EB; }
div#footer a { color: #B9D7EB; }
