
body { background:#140505; }
h1 { color: #F0E1C3 }
div#logo h1 { color: #F0E1C3 }
#menu-links ul > li a { color: #d7c8aa }
#breadcrumbs { color: #d7c8aa }
#breadcrumbs a { color: #d7c8aa; }
table.album-showcast .release-date { color: #cdbea0 }
table.album-showcast .summary { color: #e1d2b4 }
table.album-showcast a { color: #fffadc }
table.album-showcast .image img { border: 1px solid #231414 }
table.tracks td { color: #e1d2b4 }
table.tracks tr:nth-child(2n+1) { background-color: #2d1e1e }
#top-tags { background-color: #2d1e1e }
#tags-links li { color: #d7c8aa }
#tags-links li a { color: #fffadc }
div#footer { background: #000000; color: #F0E1C3; }
div#footer a { color: #F0E1C3; }
