
body { background:#C32828; }
h1 { color: #B42323 }
div#logo h1 { color: #B42323 }
#menu-links ul > li a { color: #9b0a0a }
#breadcrumbs { color: #9b0a0a }
#breadcrumbs a { color: #9b0a0a; }
table.album-showcast .release-date { color: #910000 }
table.album-showcast .summary { color: #a51414 }
table.album-showcast a { color: #cd3c3c }
table.album-showcast .image img { border: 1px solid #d23737 }
table.tracks td { color: #a51414 }
table.tracks tr:nth-child(2n+1) { background-color: #dc4141 }
#top-tags { background-color: #dc4141 }
#tags-links li { color: #9b0a0a }
#tags-links li a { color: #cd3c3c }
div#footer { background: #a50a0a; color: #B42323; }
div#footer a { color: #B42323; }
