
body { background:#0A0F14; }
h1 { color: #FAF0A0 }
div#logo h1 { color: #FAF0A0 }
#menu-links ul > li a { color: #e1d787 }
#breadcrumbs { color: #e1d787 }
#breadcrumbs a { color: #e1d787; }
table.album-showcast .release-date { color: #d7cd7d }
table.album-showcast .summary { color: #ebe191 }
table.album-showcast a { color: #ffffb9 }
table.album-showcast .image img { border: 1px solid #191e23 }
table.tracks td { color: #ebe191 }
table.tracks tr:nth-child(2n+1) { background-color: #23282d }
#top-tags { background-color: #23282d }
#tags-links li { color: #e1d787 }
#tags-links li a { color: #ffffb9 }
div#footer { background: #000000; color: #FAF0A0; }
div#footer a { color: #FAF0A0; }
