
body { background:#2D1E14; }
h1 { color: #EBE6DC }
div#logo h1 { color: #EBE6DC }
#menu-links ul > li a { color: #d2cdc3 }
#breadcrumbs { color: #d2cdc3 }
#breadcrumbs a { color: #d2cdc3; }
table.album-showcast .release-date { color: #c8c3b9 }
table.album-showcast .summary { color: #dcd7cd }
table.album-showcast a { color: #fffff5 }
table.album-showcast .image img { border: 1px solid #3c2d23 }
table.tracks td { color: #dcd7cd }
table.tracks tr:nth-child(2n+1) { background-color: #46372d }
#top-tags { background-color: #46372d }
#tags-links li { color: #d2cdc3 }
#tags-links li a { color: #fffff5 }
div#footer { background: #0f0000; color: #EBE6DC; }
div#footer a { color: #EBE6DC; }
