
body { background:#19191E; }
h1 { color: #F5EBBE }
div#logo h1 { color: #F5EBBE }
#menu-links ul > li a { color: #dcd2a5 }
#breadcrumbs { color: #dcd2a5 }
#breadcrumbs a { color: #dcd2a5; }
table.album-showcast .release-date { color: #d2c89b }
table.album-showcast .summary { color: #e6dcaf }
table.album-showcast a { color: #ffffd7 }
table.album-showcast .image img { border: 1px solid #28282d }
table.tracks td { color: #e6dcaf }
table.tracks tr:nth-child(2n+1) { background-color: #323237 }
#top-tags { background-color: #323237 }
#tags-links li { color: #dcd2a5 }
#tags-links li a { color: #ffffd7 }
div#footer { background: #000000; color: #F5EBBE; }
div#footer a { color: #F5EBBE; }
