
body { background:#190500; }
h1 { color: #FAF0DC }
div#logo h1 { color: #FAF0DC }
#menu-links ul > li a { color: #e1d7c3 }
#breadcrumbs { color: #e1d7c3 }
#breadcrumbs a { color: #e1d7c3; }
table.album-showcast .release-date { color: #d7cdb9 }
table.album-showcast .summary { color: #ebe1cd }
table.album-showcast a { color: #fffff5 }
table.album-showcast .image img { border: 1px solid #28140f }
table.tracks td { color: #ebe1cd }
table.tracks tr:nth-child(2n+1) { background-color: #321e19 }
#top-tags { background-color: #321e19 }
#tags-links li { color: #e1d7c3 }
#tags-links li a { color: #fffff5 }
div#footer { background: #000000; color: #FAF0DC; }
div#footer a { color: #FAF0DC; }
