
body { background:#282828; }
h1 { color: #A5CDE1 }
div#logo h1 { color: #A5CDE1 }
#menu-links ul > li a { color: #8cb4c8 }
#breadcrumbs { color: #8cb4c8 }
#breadcrumbs a { color: #8cb4c8; }
table.album-showcast .release-date { color: #82aabe }
table.album-showcast .summary { color: #96bed2 }
table.album-showcast a { color: #bee6fa }
table.album-showcast .image img { border: 1px solid #373737 }
table.tracks td { color: #96bed2 }
table.tracks tr:nth-child(2n+1) { background-color: #414141 }
#top-tags { background-color: #414141 }
#tags-links li { color: #8cb4c8 }
#tags-links li a { color: #bee6fa }
div#footer { background: #0a0a0a; color: #A5CDE1; }
div#footer a { color: #A5CDE1; }
