
body { background:#0F1414; }
h1 { color: #CDCDCD }
div#logo h1 { color: #CDCDCD }
#menu-links ul > li a { color: #b4b4b4 }
#breadcrumbs { color: #b4b4b4 }
#breadcrumbs a { color: #b4b4b4; }
table.album-showcast .release-date { color: #aaaaaa }
table.album-showcast .summary { color: #bebebe }
table.album-showcast a { color: #e6e6e6 }
table.album-showcast .image img { border: 1px solid #1e2323 }
table.tracks td { color: #bebebe }
table.tracks tr:nth-child(2n+1) { background-color: #282d2d }
#top-tags { background-color: #282d2d }
#tags-links li { color: #b4b4b4 }
#tags-links li a { color: #e6e6e6 }
div#footer { background: #000000; color: #CDCDCD; }
div#footer a { color: #CDCDCD; }
