
body { background:#2D0505; }
h1 { color: #FAF5F5 }
div#logo h1 { color: #FAF5F5 }
#menu-links ul > li a { color: #e1dcdc }
#breadcrumbs { color: #e1dcdc }
#breadcrumbs a { color: #e1dcdc; }
table.album-showcast .release-date { color: #d7d2d2 }
table.album-showcast .summary { color: #ebe6e6 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #3c1414 }
table.tracks td { color: #ebe6e6 }
table.tracks tr:nth-child(2n+1) { background-color: #461e1e }
#top-tags { background-color: #461e1e }
#tags-links li { color: #e1dcdc }
#tags-links li a { color: #ffffff }
div#footer { background: #0f0000; color: #FAF5F5; }
div#footer a { color: #FAF5F5; }
