
body { background:#73A0AA; }
h1 { color: #051405 }
div#logo h1 { color: #051405 }
#menu-links ul > li a { color: #000000 }
#breadcrumbs { color: #000000 }
#breadcrumbs a { color: #000000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #000500 }
table.album-showcast a { color: #1e2d1e }
table.album-showcast .image img { border: 1px solid #82afb9 }
table.tracks td { color: #000500 }
table.tracks tr:nth-child(2n+1) { background-color: #8cb9c3 }
#top-tags { background-color: #8cb9c3 }
#tags-links li { color: #000000 }
#tags-links li a { color: #1e2d1e }
div#footer { background: #55828c; color: #051405; }
div#footer a { color: #051405; }
