
body { background:#FFFAFF; }
h1 { color: #2D1400 }
div#logo h1 { color: #2D1400 }
#menu-links ul > li a { color: #140000 }
#breadcrumbs { color: #140000 }
#breadcrumbs a { color: #140000; }
table.album-showcast .release-date { color: #0a0000 }
table.album-showcast .summary { color: #1e0500 }
table.album-showcast a { color: #462d19 }
table.album-showcast .image img { border: 1px solid #ffffff }
table.tracks td { color: #1e0500 }
table.tracks tr:nth-child(2n+1) { background-color: #ffffff }
#top-tags { background-color: #ffffff }
#tags-links li { color: #140000 }
#tags-links li a { color: #462d19 }
div#footer { background: #e1dce1; color: #2D1400; }
div#footer a { color: #2D1400; }
