
body { background:#191919; }
h1 { color: #FAFFFA }
div#logo h1 { color: #FAFFFA }
#menu-links ul > li a { color: #e1e6e1 }
#breadcrumbs { color: #e1e6e1 }
#breadcrumbs a { color: #e1e6e1; }
table.album-showcast .release-date { color: #d7dcd7 }
table.album-showcast .summary { color: #ebf0eb }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #282828 }
table.tracks td { color: #ebf0eb }
table.tracks tr:nth-child(2n+1) { background-color: #323232 }
#top-tags { background-color: #323232 }
#tags-links li { color: #e1e6e1 }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #FAFFFA; }
div#footer a { color: #FAFFFA; }
