
body { background:#370A1E; }
h1 { color: #FAFAF5 }
div#logo h1 { color: #FAFAF5 }
#menu-links ul > li a { color: #e1e1dc }
#breadcrumbs { color: #e1e1dc }
#breadcrumbs a { color: #e1e1dc; }
table.album-showcast .release-date { color: #d7d7d2 }
table.album-showcast .summary { color: #ebebe6 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #46192d }
table.tracks td { color: #ebebe6 }
table.tracks tr:nth-child(2n+1) { background-color: #502337 }
#top-tags { background-color: #502337 }
#tags-links li { color: #e1e1dc }
#tags-links li a { color: #ffffff }
div#footer { background: #190000; color: #FAFAF5; }
div#footer a { color: #FAFAF5; }
