
body { background:#B92819; }
h1 { color: #190A05 }
div#logo h1 { color: #190A05 }
#menu-links ul > li a { color: #000000 }
#breadcrumbs { color: #000000 }
#breadcrumbs a { color: #000000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #0a0000 }
table.album-showcast a { color: #32231e }
table.album-showcast .image img { border: 1px solid #c83728 }
table.tracks td { color: #0a0000 }
table.tracks tr:nth-child(2n+1) { background-color: #d24132 }
#top-tags { background-color: #d24132 }
#tags-links li { color: #000000 }
#tags-links li a { color: #32231e }
div#footer { background: #9b0a00; color: #190A05; }
div#footer a { color: #190A05; }
