
body { background:#EBBE64; }
h1 { color: #5F0000 }
div#logo h1 { color: #5F0000 }
#menu-links ul > li a { color: #460000 }
#breadcrumbs { color: #460000 }
#breadcrumbs a { color: #460000; }
table.album-showcast .release-date { color: #3c0000 }
table.album-showcast .summary { color: #500000 }
table.album-showcast a { color: #781919 }
table.album-showcast .image img { border: 1px solid #facd73 }
table.tracks td { color: #500000 }
table.tracks tr:nth-child(2n+1) { background-color: #ffd77d }
#top-tags { background-color: #ffd77d }
#tags-links li { color: #460000 }
#tags-links li a { color: #781919 }
div#footer { background: #cda046; color: #5F0000; }
div#footer a { color: #5F0000; }
