
body { background:#140F0A; }
h1 { color: #FFE6D7 }
div#logo h1 { color: #FFE6D7 }
#menu-links ul > li a { color: #e6cdbe }
#breadcrumbs { color: #e6cdbe }
#breadcrumbs a { color: #e6cdbe; }
table.album-showcast .release-date { color: #dcc3b4 }
table.album-showcast .summary { color: #f0d7c8 }
table.album-showcast a { color: #fffff0 }
table.album-showcast .image img { border: 1px solid #231e19 }
table.tracks td { color: #f0d7c8 }
table.tracks tr:nth-child(2n+1) { background-color: #2d2823 }
#top-tags { background-color: #2d2823 }
#tags-links li { color: #e6cdbe }
#tags-links li a { color: #fffff0 }
div#footer { background: #000000; color: #FFE6D7; }
div#footer a { color: #FFE6D7; }
