
body { background:#78370F; }
h1 { color: #E1CDBE }
div#logo h1 { color: #E1CDBE }
#menu-links ul > li a { color: #c8b4a5 }
#breadcrumbs { color: #c8b4a5 }
#breadcrumbs a { color: #c8b4a5; }
table.album-showcast .release-date { color: #beaa9b }
table.album-showcast .summary { color: #d2beaf }
table.album-showcast a { color: #fae6d7 }
table.album-showcast .image img { border: 1px solid #87461e }
table.tracks td { color: #d2beaf }
table.tracks tr:nth-child(2n+1) { background-color: #915028 }
#top-tags { background-color: #915028 }
#tags-links li { color: #c8b4a5 }
#tags-links li a { color: #fae6d7 }
div#footer { background: #5a1900; color: #E1CDBE; }
div#footer a { color: #E1CDBE; }
