
body { background:#190F05; }
h1 { color: #F5FAFF }
div#logo h1 { color: #F5FAFF }
#menu-links ul > li a { color: #dce1e6 }
#breadcrumbs { color: #dce1e6 }
#breadcrumbs a { color: #dce1e6; }
table.album-showcast .release-date { color: #d2d7dc }
table.album-showcast .summary { color: #e6ebf0 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #281e14 }
table.tracks td { color: #e6ebf0 }
table.tracks tr:nth-child(2n+1) { background-color: #32281e }
#top-tags { background-color: #32281e }
#tags-links li { color: #dce1e6 }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #F5FAFF; }
div#footer a { color: #F5FAFF; }
