
body { background:#001400; }
h1 { color: #E1FFCD }
div#logo h1 { color: #E1FFCD }
#menu-links ul > li a { color: #c8e6b4 }
#breadcrumbs { color: #c8e6b4 }
#breadcrumbs a { color: #c8e6b4; }
table.album-showcast .release-date { color: #bedcaa }
table.album-showcast .summary { color: #d2f0be }
table.album-showcast a { color: #faffe6 }
table.album-showcast .image img { border: 1px solid #0f230f }
table.tracks td { color: #d2f0be }
table.tracks tr:nth-child(2n+1) { background-color: #192d19 }
#top-tags { background-color: #192d19 }
#tags-links li { color: #c8e6b4 }
#tags-links li a { color: #faffe6 }
div#footer { background: #000000; color: #E1FFCD; }
div#footer a { color: #E1FFCD; }
