
body { background:#190A0A; }
h1 { color: #F5E6D2 }
div#logo h1 { color: #F5E6D2 }
#menu-links ul > li a { color: #dccdb9 }
#breadcrumbs { color: #dccdb9 }
#breadcrumbs a { color: #dccdb9; }
table.album-showcast .release-date { color: #d2c3af }
table.album-showcast .summary { color: #e6d7c3 }
table.album-showcast a { color: #ffffeb }
table.album-showcast .image img { border: 1px solid #281919 }
table.tracks td { color: #e6d7c3 }
table.tracks tr:nth-child(2n+1) { background-color: #322323 }
#top-tags { background-color: #322323 }
#tags-links li { color: #dccdb9 }
#tags-links li a { color: #ffffeb }
div#footer { background: #000000; color: #F5E6D2; }
div#footer a { color: #F5E6D2; }
