
body { background:#140000; }
h1 { color: #FFF56E }
div#logo h1 { color: #FFF56E }
#menu-links ul > li a { color: #e6dc55 }
#breadcrumbs { color: #e6dc55 }
#breadcrumbs a { color: #e6dc55; }
table.album-showcast .release-date { color: #dcd24b }
table.album-showcast .summary { color: #f0e65f }
table.album-showcast a { color: #ffff87 }
table.album-showcast .image img { border: 1px solid #230f0f }
table.tracks td { color: #f0e65f }
table.tracks tr:nth-child(2n+1) { background-color: #2d1919 }
#top-tags { background-color: #2d1919 }
#tags-links li { color: #e6dc55 }
#tags-links li a { color: #ffff87 }
div#footer { background: #000000; color: #FFF56E; }
div#footer a { color: #FFF56E; }
