
body { background:#140000; }
h1 { color: #CDF5F0 }
div#logo h1 { color: #CDF5F0 }
#menu-links ul > li a { color: #b4dcd7 }
#breadcrumbs { color: #b4dcd7 }
#breadcrumbs a { color: #b4dcd7; }
table.album-showcast .release-date { color: #aad2cd }
table.album-showcast .summary { color: #bee6e1 }
table.album-showcast a { color: #e6ffff }
table.album-showcast .image img { border: 1px solid #230f0f }
table.tracks td { color: #bee6e1 }
table.tracks tr:nth-child(2n+1) { background-color: #2d1919 }
#top-tags { background-color: #2d1919 }
#tags-links li { color: #b4dcd7 }
#tags-links li a { color: #e6ffff }
div#footer { background: #000000; color: #CDF5F0; }
div#footer a { color: #CDF5F0; }
