
body { background:#191919; }
h1 { color: #FFF0EB }
div#logo h1 { color: #FFF0EB }
#menu-links ul > li a { color: #e6d7d2 }
#breadcrumbs { color: #e6d7d2 }
#breadcrumbs a { color: #e6d7d2; }
table.album-showcast .release-date { color: #dccdc8 }
table.album-showcast .summary { color: #f0e1dc }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #282828 }
table.tracks td { color: #f0e1dc }
table.tracks tr:nth-child(2n+1) { background-color: #323232 }
#top-tags { background-color: #323232 }
#tags-links li { color: #e6d7d2 }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #FFF0EB; }
div#footer a { color: #FFF0EB; }
