
body { background:#1E0000; }
h1 { color: #E6826E }
div#logo h1 { color: #E6826E }
#menu-links ul > li a { color: #cd6955 }
#breadcrumbs { color: #cd6955 }
#breadcrumbs a { color: #cd6955; }
table.album-showcast .release-date { color: #c35f4b }
table.album-showcast .summary { color: #d7735f }
table.album-showcast a { color: #ff9b87 }
table.album-showcast .image img { border: 1px solid #2d0f0f }
table.tracks td { color: #d7735f }
table.tracks tr:nth-child(2n+1) { background-color: #371919 }
#top-tags { background-color: #371919 }
#tags-links li { color: #cd6955 }
#tags-links li a { color: #ff9b87 }
div#footer { background: #000000; color: #E6826E; }
div#footer a { color: #E6826E; }
