
body { background:#737D82; }
h1 { color: #05196E }
div#logo h1 { color: #05196E }
#menu-links ul > li a { color: #000055 }
#breadcrumbs { color: #000055 }
#breadcrumbs a { color: #000055; }
table.album-showcast .release-date { color: #00004b }
table.album-showcast .summary { color: #000a5f }
table.album-showcast a { color: #1e3287 }
table.album-showcast .image img { border: 1px solid #828c91 }
table.tracks td { color: #000a5f }
table.tracks tr:nth-child(2n+1) { background-color: #8c969b }
#top-tags { background-color: #8c969b }
#tags-links li { color: #000055 }
#tags-links li a { color: #1e3287 }
div#footer { background: #555f64; color: #05196E; }
div#footer a { color: #05196E; }
