
body { background:#231E1E; }
h1 { color: #FFDCD2 }
div#logo h1 { color: #FFDCD2 }
#menu-links ul > li a { color: #e6c3b9 }
#breadcrumbs { color: #e6c3b9 }
#breadcrumbs a { color: #e6c3b9; }
table.album-showcast .release-date { color: #dcb9af }
table.album-showcast .summary { color: #f0cdc3 }
table.album-showcast a { color: #fff5eb }
table.album-showcast .image img { border: 1px solid #322d2d }
table.tracks td { color: #f0cdc3 }
table.tracks tr:nth-child(2n+1) { background-color: #3c3737 }
#top-tags { background-color: #3c3737 }
#tags-links li { color: #e6c3b9 }
#tags-links li a { color: #fff5eb }
div#footer { background: #050000; color: #FFDCD2; }
div#footer a { color: #FFDCD2; }
