
body { background:#C81E0A; }
h1 { color: #821405 }
div#logo h1 { color: #821405 }
#menu-links ul > li a { color: #690000 }
#breadcrumbs { color: #690000 }
#breadcrumbs a { color: #690000; }
table.album-showcast .release-date { color: #5f0000 }
table.album-showcast .summary { color: #730500 }
table.album-showcast a { color: #9b2d1e }
table.album-showcast .image img { border: 1px solid #d72d19 }
table.tracks td { color: #730500 }
table.tracks tr:nth-child(2n+1) { background-color: #e13723 }
#top-tags { background-color: #e13723 }
#tags-links li { color: #690000 }
#tags-links li a { color: #9b2d1e }
div#footer { background: #aa0000; color: #821405; }
div#footer a { color: #821405; }
