
body { background:#140A14; }
h1 { color: #FFF5F0 }
div#logo h1 { color: #FFF5F0 }
#menu-links ul > li a { color: #e6dcd7 }
#breadcrumbs { color: #e6dcd7 }
#breadcrumbs a { color: #e6dcd7; }
table.album-showcast .release-date { color: #dcd2cd }
table.album-showcast .summary { color: #f0e6e1 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #231923 }
table.tracks td { color: #f0e6e1 }
table.tracks tr:nth-child(2n+1) { background-color: #2d232d }
#top-tags { background-color: #2d232d }
#tags-links li { color: #e6dcd7 }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #FFF5F0; }
div#footer a { color: #FFF5F0; }
