
body { background:#464641; }
h1 { color: #F5F0E1 }
div#logo h1 { color: #F5F0E1 }
#menu-links ul > li a { color: #dcd7c8 }
#breadcrumbs { color: #dcd7c8 }
#breadcrumbs a { color: #dcd7c8; }
table.album-showcast .release-date { color: #d2cdbe }
table.album-showcast .summary { color: #e6e1d2 }
table.album-showcast a { color: #fffffa }
table.album-showcast .image img { border: 1px solid #555550 }
table.tracks td { color: #e6e1d2 }
table.tracks tr:nth-child(2n+1) { background-color: #5f5f5a }
#top-tags { background-color: #5f5f5a }
#tags-links li { color: #dcd7c8 }
#tags-links li a { color: #fffffa }
div#footer { background: #282823; color: #F5F0E1; }
div#footer a { color: #F5F0E1; }
