
body { background:#140A00; }
h1 { color: #F5F0C8 }
div#logo h1 { color: #F5F0C8 }
#menu-links ul > li a { color: #dcd7af }
#breadcrumbs { color: #dcd7af }
#breadcrumbs a { color: #dcd7af; }
table.album-showcast .release-date { color: #d2cda5 }
table.album-showcast .summary { color: #e6e1b9 }
table.album-showcast a { color: #ffffe1 }
table.album-showcast .image img { border: 1px solid #23190f }
table.tracks td { color: #e6e1b9 }
table.tracks tr:nth-child(2n+1) { background-color: #2d2319 }
#top-tags { background-color: #2d2319 }
#tags-links li { color: #dcd7af }
#tags-links li a { color: #ffffe1 }
div#footer { background: #000000; color: #F5F0C8; }
div#footer a { color: #F5F0C8; }
