
body { background:#D7AFAA; }
h1 { color: #280000 }
div#logo h1 { color: #280000 }
#menu-links ul > li a { color: #0f0000 }
#breadcrumbs { color: #0f0000 }
#breadcrumbs a { color: #0f0000; }
table.album-showcast .release-date { color: #050000 }
table.album-showcast .summary { color: #190000 }
table.album-showcast a { color: #411919 }
table.album-showcast .image img { border: 1px solid #e6beb9 }
table.tracks td { color: #190000 }
table.tracks tr:nth-child(2n+1) { background-color: #f0c8c3 }
#top-tags { background-color: #f0c8c3 }
#tags-links li { color: #0f0000 }
#tags-links li a { color: #411919 }
div#footer { background: #b9918c; color: #280000; }
div#footer a { color: #280000; }
