
body { background:#DCAA5A; }
h1 { color: #3C3232 }
div#logo h1 { color: #3C3232 }
#menu-links ul > li a { color: #231919 }
#breadcrumbs { color: #231919 }
#breadcrumbs a { color: #231919; }
table.album-showcast .release-date { color: #190f0f }
table.album-showcast .summary { color: #2d2323 }
table.album-showcast a { color: #554b4b }
table.album-showcast .image img { border: 1px solid #ebb969 }
table.tracks td { color: #2d2323 }
table.tracks tr:nth-child(2n+1) { background-color: #f5c373 }
#top-tags { background-color: #f5c373 }
#tags-links li { color: #231919 }
#tags-links li a { color: #554b4b }
div#footer { background: #be8c3c; color: #3C3232; }
div#footer a { color: #3C3232; }
