
body { background:#190000; }
h1 { color: #FFEBBE }
div#logo h1 { color: #FFEBBE }
#menu-links ul > li a { color: #e6d2a5 }
#breadcrumbs { color: #e6d2a5 }
#breadcrumbs a { color: #e6d2a5; }
table.album-showcast .release-date { color: #dcc89b }
table.album-showcast .summary { color: #f0dcaf }
table.album-showcast a { color: #ffffd7 }
table.album-showcast .image img { border: 1px solid #280f0f }
table.tracks td { color: #f0dcaf }
table.tracks tr:nth-child(2n+1) { background-color: #321919 }
#top-tags { background-color: #321919 }
#tags-links li { color: #e6d2a5 }
#tags-links li a { color: #ffffd7 }
div#footer { background: #000000; color: #FFEBBE; }
div#footer a { color: #FFEBBE; }
