
body { background:#140505; }
h1 { color: #F0E6EB }
div#logo h1 { color: #F0E6EB }
#menu-links ul > li a { color: #d7cdd2 }
#breadcrumbs { color: #d7cdd2 }
#breadcrumbs a { color: #d7cdd2; }
table.album-showcast .release-date { color: #cdc3c8 }
table.album-showcast .summary { color: #e1d7dc }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #231414 }
table.tracks td { color: #e1d7dc }
table.tracks tr:nth-child(2n+1) { background-color: #2d1e1e }
#top-tags { background-color: #2d1e1e }
#tags-links li { color: #d7cdd2 }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #F0E6EB; }
div#footer a { color: #F0E6EB; }
