
body { background:#23235A; }
h1 { color: #FAD27D }
div#logo h1 { color: #FAD27D }
#menu-links ul > li a { color: #e1b964 }
#breadcrumbs { color: #e1b964 }
#breadcrumbs a { color: #e1b964; }
table.album-showcast .release-date { color: #d7af5a }
table.album-showcast .summary { color: #ebc36e }
table.album-showcast a { color: #ffeb96 }
table.album-showcast .image img { border: 1px solid #323269 }
table.tracks td { color: #ebc36e }
table.tracks tr:nth-child(2n+1) { background-color: #3c3c73 }
#top-tags { background-color: #3c3c73 }
#tags-links li { color: #e1b964 }
#tags-links li a { color: #ffeb96 }
div#footer { background: #05053c; color: #FAD27D; }
div#footer a { color: #FAD27D; }
