
body { background:#141414; }
h1 { color: #E1C3C3 }
div#logo h1 { color: #E1C3C3 }
#menu-links ul > li a { color: #c8aaaa }
#breadcrumbs { color: #c8aaaa }
#breadcrumbs a { color: #c8aaaa; }
table.album-showcast .release-date { color: #bea0a0 }
table.album-showcast .summary { color: #d2b4b4 }
table.album-showcast a { color: #fadcdc }
table.album-showcast .image img { border: 1px solid #232323 }
table.tracks td { color: #d2b4b4 }
table.tracks tr:nth-child(2n+1) { background-color: #2d2d2d }
#top-tags { background-color: #2d2d2d }
#tags-links li { color: #c8aaaa }
#tags-links li a { color: #fadcdc }
div#footer { background: #000000; color: #E1C3C3; }
div#footer a { color: #E1C3C3; }
