
body { background:#0A140F; }
h1 { color: #F0F5DC }
div#logo h1 { color: #F0F5DC }
#menu-links ul > li a { color: #d7dcc3 }
#breadcrumbs { color: #d7dcc3 }
#breadcrumbs a { color: #d7dcc3; }
table.album-showcast .release-date { color: #cdd2b9 }
table.album-showcast .summary { color: #e1e6cd }
table.album-showcast a { color: #fffff5 }
table.album-showcast .image img { border: 1px solid #19231e }
table.tracks td { color: #e1e6cd }
table.tracks tr:nth-child(2n+1) { background-color: #232d28 }
#top-tags { background-color: #232d28 }
#tags-links li { color: #d7dcc3 }
#tags-links li a { color: #fffff5 }
div#footer { background: #000000; color: #F0F5DC; }
div#footer a { color: #F0F5DC; }
