
body { background:#000019; }
h1 { color: #FFFFF0 }
div#logo h1 { color: #FFFFF0 }
#menu-links ul > li a { color: #e6e6d7 }
#breadcrumbs { color: #e6e6d7 }
#breadcrumbs a { color: #e6e6d7; }
table.album-showcast .release-date { color: #dcdccd }
table.album-showcast .summary { color: #f0f0e1 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #0f0f28 }
table.tracks td { color: #f0f0e1 }
table.tracks tr:nth-child(2n+1) { background-color: #191932 }
#top-tags { background-color: #191932 }
#tags-links li { color: #e6e6d7 }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #FFFFF0; }
div#footer a { color: #FFFFF0; }
