
body { background:#F5FA46; }
h1 { color: #140500 }
div#logo h1 { color: #140500 }
#menu-links ul > li a { color: #000000 }
#breadcrumbs { color: #000000 }
#breadcrumbs a { color: #000000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #050000 }
table.album-showcast a { color: #2d1e19 }
table.album-showcast .image img { border: 1px solid #ffff55 }
table.tracks td { color: #050000 }
table.tracks tr:nth-child(2n+1) { background-color: #ffff5f }
#top-tags { background-color: #ffff5f }
#tags-links li { color: #000000 }
#tags-links li a { color: #2d1e19 }
div#footer { background: #d7dc28; color: #140500; }
div#footer a { color: #140500; }
