
body { background:#231E19; }
h1 { color: #F0FAFA }
div#logo h1 { color: #F0FAFA }
#menu-links ul > li a { color: #d7e1e1 }
#breadcrumbs { color: #d7e1e1 }
#breadcrumbs a { color: #d7e1e1; }
table.album-showcast .release-date { color: #cdd7d7 }
table.album-showcast .summary { color: #e1ebeb }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #322d28 }
table.tracks td { color: #e1ebeb }
table.tracks tr:nth-child(2n+1) { background-color: #3c3732 }
#top-tags { background-color: #3c3732 }
#tags-links li { color: #d7e1e1 }
#tags-links li a { color: #ffffff }
div#footer { background: #050000; color: #F0FAFA; }
div#footer a { color: #F0FAFA; }
