
body { background:#140A0A; }
h1 { color: #FFF5D2 }
div#logo h1 { color: #FFF5D2 }
#menu-links ul > li a { color: #e6dcb9 }
#breadcrumbs { color: #e6dcb9 }
#breadcrumbs a { color: #e6dcb9; }
table.album-showcast .release-date { color: #dcd2af }
table.album-showcast .summary { color: #f0e6c3 }
table.album-showcast a { color: #ffffeb }
table.album-showcast .image img { border: 1px solid #231919 }
table.tracks td { color: #f0e6c3 }
table.tracks tr:nth-child(2n+1) { background-color: #2d2323 }
#top-tags { background-color: #2d2323 }
#tags-links li { color: #e6dcb9 }
#tags-links li a { color: #ffffeb }
div#footer { background: #000000; color: #FFF5D2; }
div#footer a { color: #FFF5D2; }
