
body { background:#FAFAFA; }
h1 { color: #000528 }
div#logo h1 { color: #000528 }
#menu-links ul > li a { color: #00000f }
#breadcrumbs { color: #00000f }
#breadcrumbs a { color: #00000f; }
table.album-showcast .release-date { color: #000005 }
table.album-showcast .summary { color: #000019 }
table.album-showcast a { color: #191e41 }
table.album-showcast .image img { border: 1px solid #ffffff }
table.tracks td { color: #000019 }
table.tracks tr:nth-child(2n+1) { background-color: #ffffff }
#top-tags { background-color: #ffffff }
#tags-links li { color: #00000f }
#tags-links li a { color: #191e41 }
div#footer { background: #dcdcdc; color: #000528; }
div#footer a { color: #000528; }
