
body { background:#140A0A; }
h1 { color: #FAF5CD }
div#logo h1 { color: #FAF5CD }
#menu-links ul > li a { color: #e1dcb4 }
#breadcrumbs { color: #e1dcb4 }
#breadcrumbs a { color: #e1dcb4; }
table.album-showcast .release-date { color: #d7d2aa }
table.album-showcast .summary { color: #ebe6be }
table.album-showcast a { color: #ffffe6 }
table.album-showcast .image img { border: 1px solid #231919 }
table.tracks td { color: #ebe6be }
table.tracks tr:nth-child(2n+1) { background-color: #2d2323 }
#top-tags { background-color: #2d2323 }
#tags-links li { color: #e1dcb4 }
#tags-links li a { color: #ffffe6 }
div#footer { background: #000000; color: #FAF5CD; }
div#footer a { color: #FAF5CD; }
