
body { background:#FAFAFA; }
h1 { color: #5F5F5F }
div#logo h1 { color: #5F5F5F }
#menu-links ul > li a { color: #464646 }
#breadcrumbs { color: #464646 }
#breadcrumbs a { color: #464646; }
table.album-showcast .release-date { color: #3c3c3c }
table.album-showcast .summary { color: #505050 }
table.album-showcast a { color: #787878 }
table.album-showcast .image img { border: 1px solid #ffffff }
table.tracks td { color: #505050 }
table.tracks tr:nth-child(2n+1) { background-color: #ffffff }
#top-tags { background-color: #ffffff }
#tags-links li { color: #464646 }
#tags-links li a { color: #787878 }
div#footer { background: #dcdcdc; color: #5F5F5F; }
div#footer a { color: #5F5F5F; }
