
body { background:#190A0F; }
h1 { color: #FAE1DC }
div#logo h1 { color: #FAE1DC }
#menu-links ul > li a { color: #e1c8c3 }
#breadcrumbs { color: #e1c8c3 }
#breadcrumbs a { color: #e1c8c3; }
table.album-showcast .release-date { color: #d7beb9 }
table.album-showcast .summary { color: #ebd2cd }
table.album-showcast a { color: #fffaf5 }
table.album-showcast .image img { border: 1px solid #28191e }
table.tracks td { color: #ebd2cd }
table.tracks tr:nth-child(2n+1) { background-color: #322328 }
#top-tags { background-color: #322328 }
#tags-links li { color: #e1c8c3 }
#tags-links li a { color: #fffaf5 }
div#footer { background: #000000; color: #FAE1DC; }
div#footer a { color: #FAE1DC; }
