
body { background:#141414; }
h1 { color: #EBF0F5 }
div#logo h1 { color: #EBF0F5 }
#menu-links ul > li a { color: #d2d7dc }
#breadcrumbs { color: #d2d7dc }
#breadcrumbs a { color: #d2d7dc; }
table.album-showcast .release-date { color: #c8cdd2 }
table.album-showcast .summary { color: #dce1e6 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #232323 }
table.tracks td { color: #dce1e6 }
table.tracks tr:nth-child(2n+1) { background-color: #2d2d2d }
#top-tags { background-color: #2d2d2d }
#tags-links li { color: #d2d7dc }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #EBF0F5; }
div#footer a { color: #EBF0F5; }
