
body { background:#14140F; }
h1 { color: #FFFADC }
div#logo h1 { color: #FFFADC }
#menu-links ul > li a { color: #e6e1c3 }
#breadcrumbs { color: #e6e1c3 }
#breadcrumbs a { color: #e6e1c3; }
table.album-showcast .release-date { color: #dcd7b9 }
table.album-showcast .summary { color: #f0ebcd }
table.album-showcast a { color: #fffff5 }
table.album-showcast .image img { border: 1px solid #23231e }
table.tracks td { color: #f0ebcd }
table.tracks tr:nth-child(2n+1) { background-color: #2d2d28 }
#top-tags { background-color: #2d2d28 }
#tags-links li { color: #e6e1c3 }
#tags-links li a { color: #fffff5 }
div#footer { background: #000000; color: #FFFADC; }
div#footer a { color: #FFFADC; }
