
body { background:#140000; }
h1 { color: #FFEBE1 }
div#logo h1 { color: #FFEBE1 }
#menu-links ul > li a { color: #e6d2c8 }
#breadcrumbs { color: #e6d2c8 }
#breadcrumbs a { color: #e6d2c8; }
table.album-showcast .release-date { color: #dcc8be }
table.album-showcast .summary { color: #f0dcd2 }
table.album-showcast a { color: #fffffa }
table.album-showcast .image img { border: 1px solid #230f0f }
table.tracks td { color: #f0dcd2 }
table.tracks tr:nth-child(2n+1) { background-color: #2d1919 }
#top-tags { background-color: #2d1919 }
#tags-links li { color: #e6d2c8 }
#tags-links li a { color: #fffffa }
div#footer { background: #000000; color: #FFEBE1; }
div#footer a { color: #FFEBE1; }
