
body { background:#231E19; }
h1 { color: #FAF5A0 }
div#logo h1 { color: #FAF5A0 }
#menu-links ul > li a { color: #e1dc87 }
#breadcrumbs { color: #e1dc87 }
#breadcrumbs a { color: #e1dc87; }
table.album-showcast .release-date { color: #d7d27d }
table.album-showcast .summary { color: #ebe691 }
table.album-showcast a { color: #ffffb9 }
table.album-showcast .image img { border: 1px solid #322d28 }
table.tracks td { color: #ebe691 }
table.tracks tr:nth-child(2n+1) { background-color: #3c3732 }
#top-tags { background-color: #3c3732 }
#tags-links li { color: #e1dc87 }
#tags-links li a { color: #ffffb9 }
div#footer { background: #050000; color: #FAF5A0; }
div#footer a { color: #FAF5A0; }
