
body { background:#1E1E1E; }
h1 { color: #F5D282 }
div#logo h1 { color: #F5D282 }
#menu-links ul > li a { color: #dcb969 }
#breadcrumbs { color: #dcb969 }
#breadcrumbs a { color: #dcb969; }
table.album-showcast .release-date { color: #d2af5f }
table.album-showcast .summary { color: #e6c373 }
table.album-showcast a { color: #ffeb9b }
table.album-showcast .image img { border: 1px solid #2d2d2d }
table.tracks td { color: #e6c373 }
table.tracks tr:nth-child(2n+1) { background-color: #373737 }
#top-tags { background-color: #373737 }
#tags-links li { color: #dcb969 }
#tags-links li a { color: #ffeb9b }
div#footer { background: #000000; color: #F5D282; }
div#footer a { color: #F5D282; }
