
body { background:#1E0000; }
h1 { color: #FFF0F0 }
div#logo h1 { color: #FFF0F0 }
#menu-links ul > li a { color: #e6d7d7 }
#breadcrumbs { color: #e6d7d7 }
#breadcrumbs a { color: #e6d7d7; }
table.album-showcast .release-date { color: #dccdcd }
table.album-showcast .summary { color: #f0e1e1 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #2d0f0f }
table.tracks td { color: #f0e1e1 }
table.tracks tr:nth-child(2n+1) { background-color: #371919 }
#top-tags { background-color: #371919 }
#tags-links li { color: #e6d7d7 }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #FFF0F0; }
div#footer a { color: #FFF0F0; }
