
body { background:#EB7D96; }
h1 { color: #32191E }
div#logo h1 { color: #32191E }
#menu-links ul > li a { color: #190005 }
#breadcrumbs { color: #190005 }
#breadcrumbs a { color: #190005; }
table.album-showcast .release-date { color: #0f0000 }
table.album-showcast .summary { color: #230a0f }
table.album-showcast a { color: #4b3237 }
table.album-showcast .image img { border: 1px solid #fa8ca5 }
table.tracks td { color: #230a0f }
table.tracks tr:nth-child(2n+1) { background-color: #ff96af }
#top-tags { background-color: #ff96af }
#tags-links li { color: #190005 }
#tags-links li a { color: #4b3237 }
div#footer { background: #cd5f78; color: #32191E; }
div#footer a { color: #32191E; }
