
body { background:#FAF5C3; }
h1 { color: #500A23 }
div#logo h1 { color: #500A23 }
#menu-links ul > li a { color: #37000a }
#breadcrumbs { color: #37000a }
#breadcrumbs a { color: #37000a; }
table.album-showcast .release-date { color: #2d0000 }
table.album-showcast .summary { color: #410014 }
table.album-showcast a { color: #69233c }
table.album-showcast .image img { border: 1px solid #ffffd2 }
table.tracks td { color: #410014 }
table.tracks tr:nth-child(2n+1) { background-color: #ffffdc }
#top-tags { background-color: #ffffdc }
#tags-links li { color: #37000a }
#tags-links li a { color: #69233c }
div#footer { background: #dcd7a5; color: #500A23; }
div#footer a { color: #500A23; }
