
body { background:#DCFAA5; }
h1 { color: #F52D37 }
div#logo h1 { color: #F52D37 }
#menu-links ul > li a { color: #dc141e }
#breadcrumbs { color: #dc141e }
#breadcrumbs a { color: #dc141e; }
table.album-showcast .release-date { color: #d20a14 }
table.album-showcast .summary { color: #e61e28 }
table.album-showcast a { color: #ff4650 }
table.album-showcast .image img { border: 1px solid #ebffb4 }
table.tracks td { color: #e61e28 }
table.tracks tr:nth-child(2n+1) { background-color: #f5ffbe }
#top-tags { background-color: #f5ffbe }
#tags-links li { color: #dc141e }
#tags-links li a { color: #ff4650 }
div#footer { background: #bedc87; color: #F52D37; }
div#footer a { color: #F52D37; }
