
body { background:#CDDCBE; }
h1 { color: #14281E }
div#logo h1 { color: #14281E }
#menu-links ul > li a { color: #000f05 }
#breadcrumbs { color: #000f05 }
#breadcrumbs a { color: #000f05; }
table.album-showcast .release-date { color: #000500 }
table.album-showcast .summary { color: #05190f }
table.album-showcast a { color: #2d4137 }
table.album-showcast .image img { border: 1px solid #dcebcd }
table.tracks td { color: #05190f }
table.tracks tr:nth-child(2n+1) { background-color: #e6f5d7 }
#top-tags { background-color: #e6f5d7 }
#tags-links li { color: #000f05 }
#tags-links li a { color: #2d4137 }
div#footer { background: #afbea0; color: #14281E; }
div#footer a { color: #14281E; }
