
body { background:#5578AA; }
h1 { color: #1E1923 }
div#logo h1 { color: #1E1923 }
#menu-links ul > li a { color: #05000a }
#breadcrumbs { color: #05000a }
#breadcrumbs a { color: #05000a; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #0f0a14 }
table.album-showcast a { color: #37323c }
table.album-showcast .image img { border: 1px solid #6487b9 }
table.tracks td { color: #0f0a14 }
table.tracks tr:nth-child(2n+1) { background-color: #6e91c3 }
#top-tags { background-color: #6e91c3 }
#tags-links li { color: #05000a }
#tags-links li a { color: #37323c }
div#footer { background: #375a8c; color: #1E1923; }
div#footer a { color: #1E1923; }
