
body { background:#19140A; }
h1 { color: #FFFFE1 }
div#logo h1 { color: #FFFFE1 }
#menu-links ul > li a { color: #e6e6c8 }
#breadcrumbs { color: #e6e6c8 }
#breadcrumbs a { color: #e6e6c8; }
table.album-showcast .release-date { color: #dcdcbe }
table.album-showcast .summary { color: #f0f0d2 }
table.album-showcast a { color: #fffffa }
table.album-showcast .image img { border: 1px solid #282319 }
table.tracks td { color: #f0f0d2 }
table.tracks tr:nth-child(2n+1) { background-color: #322d23 }
#top-tags { background-color: #322d23 }
#tags-links li { color: #e6e6c8 }
#tags-links li a { color: #fffffa }
div#footer { background: #000000; color: #FFFFE1; }
div#footer a { color: #FFFFE1; }
