
body { background:#D2C8B9; }
h1 { color: #32050F }
div#logo h1 { color: #32050F }
#menu-links ul > li a { color: #190000 }
#breadcrumbs { color: #190000 }
#breadcrumbs a { color: #190000; }
table.album-showcast .release-date { color: #0f0000 }
table.album-showcast .summary { color: #230000 }
table.album-showcast a { color: #4b1e28 }
table.album-showcast .image img { border: 1px solid #e1d7c8 }
table.tracks td { color: #230000 }
table.tracks tr:nth-child(2n+1) { background-color: #ebe1d2 }
#top-tags { background-color: #ebe1d2 }
#tags-links li { color: #190000 }
#tags-links li a { color: #4b1e28 }
div#footer { background: #b4aa9b; color: #32050F; }
div#footer a { color: #32050F; }
