
body { background:#191414; }
h1 { color: #D7DCDC }
div#logo h1 { color: #D7DCDC }
#menu-links ul > li a { color: #bec3c3 }
#breadcrumbs { color: #bec3c3 }
#breadcrumbs a { color: #bec3c3; }
table.album-showcast .release-date { color: #b4b9b9 }
table.album-showcast .summary { color: #c8cdcd }
table.album-showcast a { color: #f0f5f5 }
table.album-showcast .image img { border: 1px solid #282323 }
table.tracks td { color: #c8cdcd }
table.tracks tr:nth-child(2n+1) { background-color: #322d2d }
#top-tags { background-color: #322d2d }
#tags-links li { color: #bec3c3 }
#tags-links li a { color: #f0f5f5 }
div#footer { background: #000000; color: #D7DCDC; }
div#footer a { color: #D7DCDC; }
