
body { background:#191400; }
h1 { color: #E6E1FF }
div#logo h1 { color: #E6E1FF }
#menu-links ul > li a { color: #cdc8e6 }
#breadcrumbs { color: #cdc8e6 }
#breadcrumbs a { color: #cdc8e6; }
table.album-showcast .release-date { color: #c3bedc }
table.album-showcast .summary { color: #d7d2f0 }
table.album-showcast a { color: #fffaff }
table.album-showcast .image img { border: 1px solid #28230f }
table.tracks td { color: #d7d2f0 }
table.tracks tr:nth-child(2n+1) { background-color: #322d19 }
#top-tags { background-color: #322d19 }
#tags-links li { color: #cdc8e6 }
#tags-links li a { color: #fffaff }
div#footer { background: #000000; color: #E6E1FF; }
div#footer a { color: #E6E1FF; }
