
body { background:#140A05; }
h1 { color: #FAFAEB }
div#logo h1 { color: #FAFAEB }
#menu-links ul > li a { color: #e1e1d2 }
#breadcrumbs { color: #e1e1d2 }
#breadcrumbs a { color: #e1e1d2; }
table.album-showcast .release-date { color: #d7d7c8 }
table.album-showcast .summary { color: #ebebdc }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #231914 }
table.tracks td { color: #ebebdc }
table.tracks tr:nth-child(2n+1) { background-color: #2d231e }
#top-tags { background-color: #2d231e }
#tags-links li { color: #e1e1d2 }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #FAFAEB; }
div#footer a { color: #FAFAEB; }
