
body { background:#141914; }
h1 { color: #F0FFFF }
div#logo h1 { color: #F0FFFF }
#menu-links ul > li a { color: #d7e6e6 }
#breadcrumbs { color: #d7e6e6 }
#breadcrumbs a { color: #d7e6e6; }
table.album-showcast .release-date { color: #cddcdc }
table.album-showcast .summary { color: #e1f0f0 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #232823 }
table.tracks td { color: #e1f0f0 }
table.tracks tr:nth-child(2n+1) { background-color: #2d322d }
#top-tags { background-color: #2d322d }
#tags-links li { color: #d7e6e6 }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #F0FFFF; }
div#footer a { color: #F0FFFF; }
