
body { background:#C3AF91; }
h1 { color: #46000F }
div#logo h1 { color: #46000F }
#menu-links ul > li a { color: #2d0000 }
#breadcrumbs { color: #2d0000 }
#breadcrumbs a { color: #2d0000; }
table.album-showcast .release-date { color: #230000 }
table.album-showcast .summary { color: #370000 }
table.album-showcast a { color: #5f1928 }
table.album-showcast .image img { border: 1px solid #d2bea0 }
table.tracks td { color: #370000 }
table.tracks tr:nth-child(2n+1) { background-color: #dcc8aa }
#top-tags { background-color: #dcc8aa }
#tags-links li { color: #2d0000 }
#tags-links li a { color: #5f1928 }
div#footer { background: #a59173; color: #46000F; }
div#footer a { color: #46000F; }
