
body { background:#141414; }
h1 { color: #D2D2C8 }
div#logo h1 { color: #D2D2C8 }
#menu-links ul > li a { color: #b9b9af }
#breadcrumbs { color: #b9b9af }
#breadcrumbs a { color: #b9b9af; }
table.album-showcast .release-date { color: #afafa5 }
table.album-showcast .summary { color: #c3c3b9 }
table.album-showcast a { color: #ebebe1 }
table.album-showcast .image img { border: 1px solid #232323 }
table.tracks td { color: #c3c3b9 }
table.tracks tr:nth-child(2n+1) { background-color: #2d2d2d }
#top-tags { background-color: #2d2d2d }
#tags-links li { color: #b9b9af }
#tags-links li a { color: #ebebe1 }
div#footer { background: #000000; color: #D2D2C8; }
div#footer a { color: #D2D2C8; }
