
body { background:#AFD7FF; }
h1 { color: #00051E }
div#logo h1 { color: #00051E }
#menu-links ul > li a { color: #000005 }
#breadcrumbs { color: #000005 }
#breadcrumbs a { color: #000005; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #00000f }
table.album-showcast a { color: #191e37 }
table.album-showcast .image img { border: 1px solid #bee6ff }
table.tracks td { color: #00000f }
table.tracks tr:nth-child(2n+1) { background-color: #c8f0ff }
#top-tags { background-color: #c8f0ff }
#tags-links li { color: #000005 }
#tags-links li a { color: #191e37 }
div#footer { background: #91b9e1; color: #00051E; }
div#footer a { color: #00051E; }
