
body { background:#373241; }
h1 { color: #F5F5F0 }
div#logo h1 { color: #F5F5F0 }
#menu-links ul > li a { color: #dcdcd7 }
#breadcrumbs { color: #dcdcd7 }
#breadcrumbs a { color: #dcdcd7; }
table.album-showcast .release-date { color: #d2d2cd }
table.album-showcast .summary { color: #e6e6e1 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #464150 }
table.tracks td { color: #e6e6e1 }
table.tracks tr:nth-child(2n+1) { background-color: #504b5a }
#top-tags { background-color: #504b5a }
#tags-links li { color: #dcdcd7 }
#tags-links li a { color: #ffffff }
div#footer { background: #191423; color: #F5F5F0; }
div#footer a { color: #F5F5F0; }
