
body { background:#FA0019; }
h1 { color: #1E0F05 }
div#logo h1 { color: #1E0F05 }
#menu-links ul > li a { color: #050000 }
#breadcrumbs { color: #050000 }
#breadcrumbs a { color: #050000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #0f0000 }
table.album-showcast a { color: #37281e }
table.album-showcast .image img { border: 1px solid #ff0f28 }
table.tracks td { color: #0f0000 }
table.tracks tr:nth-child(2n+1) { background-color: #ff1932 }
#top-tags { background-color: #ff1932 }
#tags-links li { color: #050000 }
#tags-links li a { color: #37281e }
div#footer { background: #dc0000; color: #1E0F05; }
div#footer a { color: #1E0F05; }
