
body { background:#2D0F0F; }
h1 { color: #F5FFFF }
div#logo h1 { color: #F5FFFF }
#menu-links ul > li a { color: #dce6e6 }
#breadcrumbs { color: #dce6e6 }
#breadcrumbs a { color: #dce6e6; }
table.album-showcast .release-date { color: #d2dcdc }
table.album-showcast .summary { color: #e6f0f0 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #3c1e1e }
table.tracks td { color: #e6f0f0 }
table.tracks tr:nth-child(2n+1) { background-color: #462828 }
#top-tags { background-color: #462828 }
#tags-links li { color: #dce6e6 }
#tags-links li a { color: #ffffff }
div#footer { background: #0f0000; color: #F5FFFF; }
div#footer a { color: #F5FFFF; }
