
body { background:#414141; }
h1 { color: #C3C3C3 }
div#logo h1 { color: #C3C3C3 }
#menu-links ul > li a { color: #aaaaaa }
#breadcrumbs { color: #aaaaaa }
#breadcrumbs a { color: #aaaaaa; }
table.album-showcast .release-date { color: #a0a0a0 }
table.album-showcast .summary { color: #b4b4b4 }
table.album-showcast a { color: #dcdcdc }
table.album-showcast .image img { border: 1px solid #505050 }
table.tracks td { color: #b4b4b4 }
table.tracks tr:nth-child(2n+1) { background-color: #5a5a5a }
#top-tags { background-color: #5a5a5a }
#tags-links li { color: #aaaaaa }
#tags-links li a { color: #dcdcdc }
div#footer { background: #232323; color: #C3C3C3; }
div#footer a { color: #C3C3C3; }
