
body { background:#FAFAFA; }
h1 { color: #5A1405 }
div#logo h1 { color: #5A1405 }
#menu-links ul > li a { color: #410000 }
#breadcrumbs { color: #410000 }
#breadcrumbs a { color: #410000; }
table.album-showcast .release-date { color: #370000 }
table.album-showcast .summary { color: #4b0500 }
table.album-showcast a { color: #732d1e }
table.album-showcast .image img { border: 1px solid #ffffff }
table.tracks td { color: #4b0500 }
table.tracks tr:nth-child(2n+1) { background-color: #ffffff }
#top-tags { background-color: #ffffff }
#tags-links li { color: #410000 }
#tags-links li a { color: #732d1e }
div#footer { background: #dcdcdc; color: #5A1405; }
div#footer a { color: #5A1405; }
