
body { background:#8C9687; }
h1 { color: #415055 }
div#logo h1 { color: #415055 }
#menu-links ul > li a { color: #28373c }
#breadcrumbs { color: #28373c }
#breadcrumbs a { color: #28373c; }
table.album-showcast .release-date { color: #1e2d32 }
table.album-showcast .summary { color: #324146 }
table.album-showcast a { color: #5a696e }
table.album-showcast .image img { border: 1px solid #9ba596 }
table.tracks td { color: #324146 }
table.tracks tr:nth-child(2n+1) { background-color: #a5afa0 }
#top-tags { background-color: #a5afa0 }
#tags-links li { color: #28373c }
#tags-links li a { color: #5a696e }
div#footer { background: #6e7869; color: #415055; }
div#footer a { color: #415055; }
