
body { background:#23190F; }
h1 { color: #F5F5E1 }
div#logo h1 { color: #F5F5E1 }
#menu-links ul > li a { color: #dcdcc8 }
#breadcrumbs { color: #dcdcc8 }
#breadcrumbs a { color: #dcdcc8; }
table.album-showcast .release-date { color: #d2d2be }
table.album-showcast .summary { color: #e6e6d2 }
table.album-showcast a { color: #fffffa }
table.album-showcast .image img { border: 1px solid #32281e }
table.tracks td { color: #e6e6d2 }
table.tracks tr:nth-child(2n+1) { background-color: #3c3228 }
#top-tags { background-color: #3c3228 }
#tags-links li { color: #dcdcc8 }
#tags-links li a { color: #fffffa }
div#footer { background: #050000; color: #F5F5E1; }
div#footer a { color: #F5F5E1; }
