
body { background:#414141; }
h1 { color: #C8CDD7 }
div#logo h1 { color: #C8CDD7 }
#menu-links ul > li a { color: #afb4be }
#breadcrumbs { color: #afb4be }
#breadcrumbs a { color: #afb4be; }
table.album-showcast .release-date { color: #a5aab4 }
table.album-showcast .summary { color: #b9bec8 }
table.album-showcast a { color: #e1e6f0 }
table.album-showcast .image img { border: 1px solid #505050 }
table.tracks td { color: #b9bec8 }
table.tracks tr:nth-child(2n+1) { background-color: #5a5a5a }
#top-tags { background-color: #5a5a5a }
#tags-links li { color: #afb4be }
#tags-links li a { color: #e1e6f0 }
div#footer { background: #232323; color: #C8CDD7; }
div#footer a { color: #C8CDD7; }
