
body { background:#231E23; }
h1 { color: #E6FFFF }
div#logo h1 { color: #E6FFFF }
#menu-links ul > li a { color: #cde6e6 }
#breadcrumbs { color: #cde6e6 }
#breadcrumbs a { color: #cde6e6; }
table.album-showcast .release-date { color: #c3dcdc }
table.album-showcast .summary { color: #d7f0f0 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #322d32 }
table.tracks td { color: #d7f0f0 }
table.tracks tr:nth-child(2n+1) { background-color: #3c373c }
#top-tags { background-color: #3c373c }
#tags-links li { color: #cde6e6 }
#tags-links li a { color: #ffffff }
div#footer { background: #050005; color: #E6FFFF; }
div#footer a { color: #E6FFFF; }
