
body { background:#FAFAE1; }
h1 { color: #050537 }
div#logo h1 { color: #050537 }
#menu-links ul > li a { color: #00001e }
#breadcrumbs { color: #00001e }
#breadcrumbs a { color: #00001e; }
table.album-showcast .release-date { color: #000014 }
table.album-showcast .summary { color: #000028 }
table.album-showcast a { color: #1e1e50 }
table.album-showcast .image img { border: 1px solid #fffff0 }
table.tracks td { color: #000028 }
table.tracks tr:nth-child(2n+1) { background-color: #fffffa }
#top-tags { background-color: #fffffa }
#tags-links li { color: #00001e }
#tags-links li a { color: #1e1e50 }
div#footer { background: #dcdcc3; color: #050537; }
div#footer a { color: #050537; }
