
body { background:#140000; }
h1 { color: #E6F0E6 }
div#logo h1 { color: #E6F0E6 }
#menu-links ul > li a { color: #cdd7cd }
#breadcrumbs { color: #cdd7cd }
#breadcrumbs a { color: #cdd7cd; }
table.album-showcast .release-date { color: #c3cdc3 }
table.album-showcast .summary { color: #d7e1d7 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #230f0f }
table.tracks td { color: #d7e1d7 }
table.tracks tr:nth-child(2n+1) { background-color: #2d1919 }
#top-tags { background-color: #2d1919 }
#tags-links li { color: #cdd7cd }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #E6F0E6; }
div#footer a { color: #E6F0E6; }
