
body { background:#190F0F; }
h1 { color: #F5F0D7 }
div#logo h1 { color: #F5F0D7 }
#menu-links ul > li a { color: #dcd7be }
#breadcrumbs { color: #dcd7be }
#breadcrumbs a { color: #dcd7be; }
table.album-showcast .release-date { color: #d2cdb4 }
table.album-showcast .summary { color: #e6e1c8 }
table.album-showcast a { color: #fffff0 }
table.album-showcast .image img { border: 1px solid #281e1e }
table.tracks td { color: #e6e1c8 }
table.tracks tr:nth-child(2n+1) { background-color: #322828 }
#top-tags { background-color: #322828 }
#tags-links li { color: #dcd7be }
#tags-links li a { color: #fffff0 }
div#footer { background: #000000; color: #F5F0D7; }
div#footer a { color: #F5F0D7; }
