
body { background:#FAFAFA; }
h1 { color: #1E0F32 }
div#logo h1 { color: #1E0F32 }
#menu-links ul > li a { color: #050019 }
#breadcrumbs { color: #050019 }
#breadcrumbs a { color: #050019; }
table.album-showcast .release-date { color: #00000f }
table.album-showcast .summary { color: #0f0023 }
table.album-showcast a { color: #37284b }
table.album-showcast .image img { border: 1px solid #ffffff }
table.tracks td { color: #0f0023 }
table.tracks tr:nth-child(2n+1) { background-color: #ffffff }
#top-tags { background-color: #ffffff }
#tags-links li { color: #050019 }
#tags-links li a { color: #37284b }
div#footer { background: #dcdcdc; color: #1E0F32; }
div#footer a { color: #1E0F32; }
