
body { background:#140000; }
h1 { color: #FFF0CD }
div#logo h1 { color: #FFF0CD }
#menu-links ul > li a { color: #e6d7b4 }
#breadcrumbs { color: #e6d7b4 }
#breadcrumbs a { color: #e6d7b4; }
table.album-showcast .release-date { color: #dccdaa }
table.album-showcast .summary { color: #f0e1be }
table.album-showcast a { color: #ffffe6 }
table.album-showcast .image img { border: 1px solid #230f0f }
table.tracks td { color: #f0e1be }
table.tracks tr:nth-child(2n+1) { background-color: #2d1919 }
#top-tags { background-color: #2d1919 }
#tags-links li { color: #e6d7b4 }
#tags-links li a { color: #ffffe6 }
div#footer { background: #000000; color: #FFF0CD; }
div#footer a { color: #FFF0CD; }
