
body { background:#140A00; }
h1 { color: #F5EBE6 }
div#logo h1 { color: #F5EBE6 }
#menu-links ul > li a { color: #dcd2cd }
#breadcrumbs { color: #dcd2cd }
#breadcrumbs a { color: #dcd2cd; }
table.album-showcast .release-date { color: #d2c8c3 }
table.album-showcast .summary { color: #e6dcd7 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #23190f }
table.tracks td { color: #e6dcd7 }
table.tracks tr:nth-child(2n+1) { background-color: #2d2319 }
#top-tags { background-color: #2d2319 }
#tags-links li { color: #dcd2cd }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #F5EBE6; }
div#footer a { color: #F5EBE6; }
