
body { background:#FAFFFF; }
h1 { color: #322814 }
div#logo h1 { color: #322814 }
#menu-links ul > li a { color: #190f00 }
#breadcrumbs { color: #190f00 }
#breadcrumbs a { color: #190f00; }
table.album-showcast .release-date { color: #0f0500 }
table.album-showcast .summary { color: #231905 }
table.album-showcast a { color: #4b412d }
table.album-showcast .image img { border: 1px solid #ffffff }
table.tracks td { color: #231905 }
table.tracks tr:nth-child(2n+1) { background-color: #ffffff }
#top-tags { background-color: #ffffff }
#tags-links li { color: #190f00 }
#tags-links li a { color: #4b412d }
div#footer { background: #dce1e1; color: #322814; }
div#footer a { color: #322814; }
