
body { background:#140F0F; }
h1 { color: #E6EBE6 }
div#logo h1 { color: #E6EBE6 }
#menu-links ul > li a { color: #cdd2cd }
#breadcrumbs { color: #cdd2cd }
#breadcrumbs a { color: #cdd2cd; }
table.album-showcast .release-date { color: #c3c8c3 }
table.album-showcast .summary { color: #d7dcd7 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #231e1e }
table.tracks td { color: #d7dcd7 }
table.tracks tr:nth-child(2n+1) { background-color: #2d2828 }
#top-tags { background-color: #2d2828 }
#tags-links li { color: #cdd2cd }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #E6EBE6; }
div#footer a { color: #E6EBE6; }
