
body { background:#FAF5DC; }
h1 { color: #82785F }
div#logo h1 { color: #82785F }
#menu-links ul > li a { color: #695f46 }
#breadcrumbs { color: #695f46 }
#breadcrumbs a { color: #695f46; }
table.album-showcast .release-date { color: #5f553c }
table.album-showcast .summary { color: #736950 }
table.album-showcast a { color: #9b9178 }
table.album-showcast .image img { border: 1px solid #ffffeb }
table.tracks td { color: #736950 }
table.tracks tr:nth-child(2n+1) { background-color: #fffff5 }
#top-tags { background-color: #fffff5 }
#tags-links li { color: #695f46 }
#tags-links li a { color: #9b9178 }
div#footer { background: #dcd7be; color: #82785F; }
div#footer a { color: #82785F; }
