
body { background:#191914; }
h1 { color: #FFEBEB }
div#logo h1 { color: #FFEBEB }
#menu-links ul > li a { color: #e6d2d2 }
#breadcrumbs { color: #e6d2d2 }
#breadcrumbs a { color: #e6d2d2; }
table.album-showcast .release-date { color: #dcc8c8 }
table.album-showcast .summary { color: #f0dcdc }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #282823 }
table.tracks td { color: #f0dcdc }
table.tracks tr:nth-child(2n+1) { background-color: #32322d }
#top-tags { background-color: #32322d }
#tags-links li { color: #e6d2d2 }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #FFEBEB; }
div#footer a { color: #FFEBEB; }
