
body { background:#FAFFFF; }
h1 { color: #3C3737 }
div#logo h1 { color: #3C3737 }
#menu-links ul > li a { color: #231e1e }
#breadcrumbs { color: #231e1e }
#breadcrumbs a { color: #231e1e; }
table.album-showcast .release-date { color: #191414 }
table.album-showcast .summary { color: #2d2828 }
table.album-showcast a { color: #555050 }
table.album-showcast .image img { border: 1px solid #ffffff }
table.tracks td { color: #2d2828 }
table.tracks tr:nth-child(2n+1) { background-color: #ffffff }
#top-tags { background-color: #ffffff }
#tags-links li { color: #231e1e }
#tags-links li a { color: #555050 }
div#footer { background: #dce1e1; color: #3C3737; }
div#footer a { color: #3C3737; }
