
body { background:#1E1E1E; }
h1 { color: #E1FFFF }
div#logo h1 { color: #E1FFFF }
#menu-links ul > li a { color: #c8e6e6 }
#breadcrumbs { color: #c8e6e6 }
#breadcrumbs a { color: #c8e6e6; }
table.album-showcast .release-date { color: #bedcdc }
table.album-showcast .summary { color: #d2f0f0 }
table.album-showcast a { color: #faffff }
table.album-showcast .image img { border: 1px solid #2d2d2d }
table.tracks td { color: #d2f0f0 }
table.tracks tr:nth-child(2n+1) { background-color: #373737 }
#top-tags { background-color: #373737 }
#tags-links li { color: #c8e6e6 }
#tags-links li a { color: #faffff }
div#footer { background: #000000; color: #E1FFFF; }
div#footer a { color: #E1FFFF; }
