
body { background:#238700; }
h1 { color: #E1DCE1 }
div#logo h1 { color: #E1DCE1 }
#menu-links ul > li a { color: #c8c3c8 }
#breadcrumbs { color: #c8c3c8 }
#breadcrumbs a { color: #c8c3c8; }
table.album-showcast .release-date { color: #beb9be }
table.album-showcast .summary { color: #d2cdd2 }
table.album-showcast a { color: #faf5fa }
table.album-showcast .image img { border: 1px solid #32960f }
table.tracks td { color: #d2cdd2 }
table.tracks tr:nth-child(2n+1) { background-color: #3ca019 }
#top-tags { background-color: #3ca019 }
#tags-links li { color: #c8c3c8 }
#tags-links li a { color: #faf5fa }
div#footer { background: #056900; color: #E1DCE1; }
div#footer a { color: #E1DCE1; }
