
body { background:#786E87; }
h1 { color: #14000F }
div#logo h1 { color: #14000F }
#menu-links ul > li a { color: #000000 }
#breadcrumbs { color: #000000 }
#breadcrumbs a { color: #000000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #050000 }
table.album-showcast a { color: #2d1928 }
table.album-showcast .image img { border: 1px solid #877d96 }
table.tracks td { color: #050000 }
table.tracks tr:nth-child(2n+1) { background-color: #9187a0 }
#top-tags { background-color: #9187a0 }
#tags-links li { color: #000000 }
#tags-links li a { color: #2d1928 }
div#footer { background: #5a5069; color: #14000F; }
div#footer a { color: #14000F; }
