
body { background:#14140F; }
h1 { color: #FFF59B }
div#logo h1 { color: #FFF59B }
#menu-links ul > li a { color: #e6dc82 }
#breadcrumbs { color: #e6dc82 }
#breadcrumbs a { color: #e6dc82; }
table.album-showcast .release-date { color: #dcd278 }
table.album-showcast .summary { color: #f0e68c }
table.album-showcast a { color: #ffffb4 }
table.album-showcast .image img { border: 1px solid #23231e }
table.tracks td { color: #f0e68c }
table.tracks tr:nth-child(2n+1) { background-color: #2d2d28 }
#top-tags { background-color: #2d2d28 }
#tags-links li { color: #e6dc82 }
#tags-links li a { color: #ffffb4 }
div#footer { background: #000000; color: #FFF59B; }
div#footer a { color: #FFF59B; }
