
body { background:#D7DCC3; }
h1 { color: #140F0A }
div#logo h1 { color: #140F0A }
#menu-links ul > li a { color: #000000 }
#breadcrumbs { color: #000000 }
#breadcrumbs a { color: #000000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #050000 }
table.album-showcast a { color: #2d2823 }
table.album-showcast .image img { border: 1px solid #e6ebd2 }
table.tracks td { color: #050000 }
table.tracks tr:nth-child(2n+1) { background-color: #f0f5dc }
#top-tags { background-color: #f0f5dc }
#tags-links li { color: #000000 }
#tags-links li a { color: #2d2823 }
div#footer { background: #b9bea5; color: #140F0A; }
div#footer a { color: #140F0A; }
