
body { background:#EB1923; }
h1 { color: #19050A }
div#logo h1 { color: #19050A }
#menu-links ul > li a { color: #000000 }
#breadcrumbs { color: #000000 }
#breadcrumbs a { color: #000000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #0a0000 }
table.album-showcast a { color: #321e23 }
table.album-showcast .image img { border: 1px solid #fa2832 }
table.tracks td { color: #0a0000 }
table.tracks tr:nth-child(2n+1) { background-color: #ff323c }
#top-tags { background-color: #ff323c }
#tags-links li { color: #000000 }
#tags-links li a { color: #321e23 }
div#footer { background: #cd0005; color: #19050A; }
div#footer a { color: #19050A; }
