
body { background:#141414; }
h1 { color: #4B8CD2 }
div#logo h1 { color: #4B8CD2 }
#menu-links ul > li a { color: #3273b9 }
#breadcrumbs { color: #3273b9 }
#breadcrumbs a { color: #3273b9; }
table.album-showcast .release-date { color: #2869af }
table.album-showcast .summary { color: #3c7dc3 }
table.album-showcast a { color: #64a5eb }
table.album-showcast .image img { border: 1px solid #232323 }
table.tracks td { color: #3c7dc3 }
table.tracks tr:nth-child(2n+1) { background-color: #2d2d2d }
#top-tags { background-color: #2d2d2d }
#tags-links li { color: #3273b9 }
#tags-links li a { color: #64a5eb }
div#footer { background: #000000; color: #4B8CD2; }
div#footer a { color: #4B8CD2; }
