
body { background:#141414; }
h1 { color: #37A0CD }
div#logo h1 { color: #37A0CD }
#menu-links ul > li a { color: #1e87b4 }
#breadcrumbs { color: #1e87b4 }
#breadcrumbs a { color: #1e87b4; }
table.album-showcast .release-date { color: #147daa }
table.album-showcast .summary { color: #2891be }
table.album-showcast a { color: #50b9e6 }
table.album-showcast .image img { border: 1px solid #232323 }
table.tracks td { color: #2891be }
table.tracks tr:nth-child(2n+1) { background-color: #2d2d2d }
#top-tags { background-color: #2d2d2d }
#tags-links li { color: #1e87b4 }
#tags-links li a { color: #50b9e6 }
div#footer { background: #000000; color: #37A0CD; }
div#footer a { color: #37A0CD; }
