
body { background:#DC8C3C; }
h1 { color: #500000 }
div#logo h1 { color: #500000 }
#menu-links ul > li a { color: #370000 }
#breadcrumbs { color: #370000 }
#breadcrumbs a { color: #370000; }
table.album-showcast .release-date { color: #2d0000 }
table.album-showcast .summary { color: #410000 }
table.album-showcast a { color: #691919 }
table.album-showcast .image img { border: 1px solid #eb9b4b }
table.tracks td { color: #410000 }
table.tracks tr:nth-child(2n+1) { background-color: #f5a555 }
#top-tags { background-color: #f5a555 }
#tags-links li { color: #370000 }
#tags-links li a { color: #691919 }
div#footer { background: #be6e1e; color: #500000; }
div#footer a { color: #500000; }
