
body { background:#F5FAF5; }
h1 { color: #877369 }
div#logo h1 { color: #877369 }
#menu-links ul > li a { color: #6e5a50 }
#breadcrumbs { color: #6e5a50 }
#breadcrumbs a { color: #6e5a50; }
table.album-showcast .release-date { color: #645046 }
table.album-showcast .summary { color: #78645a }
table.album-showcast a { color: #a08c82 }
table.album-showcast .image img { border: 1px solid #ffffff }
table.tracks td { color: #78645a }
table.tracks tr:nth-child(2n+1) { background-color: #ffffff }
#top-tags { background-color: #ffffff }
#tags-links li { color: #6e5a50 }
#tags-links li a { color: #a08c82 }
div#footer { background: #d7dcd7; color: #877369; }
div#footer a { color: #877369; }
