
body { background:#282D1E; }
h1 { color: #D2D7E1 }
div#logo h1 { color: #D2D7E1 }
#menu-links ul > li a { color: #b9bec8 }
#breadcrumbs { color: #b9bec8 }
#breadcrumbs a { color: #b9bec8; }
table.album-showcast .release-date { color: #afb4be }
table.album-showcast .summary { color: #c3c8d2 }
table.album-showcast a { color: #ebf0fa }
table.album-showcast .image img { border: 1px solid #373c2d }
table.tracks td { color: #c3c8d2 }
table.tracks tr:nth-child(2n+1) { background-color: #414637 }
#top-tags { background-color: #414637 }
#tags-links li { color: #b9bec8 }
#tags-links li a { color: #ebf0fa }
div#footer { background: #0a0f00; color: #D2D7E1; }
div#footer a { color: #D2D7E1; }
