
body { background:#FAFAFA; }
h1 { color: #001E0F }
div#logo h1 { color: #001E0F }
#menu-links ul > li a { color: #000500 }
#breadcrumbs { color: #000500 }
#breadcrumbs a { color: #000500; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #000f00 }
table.album-showcast a { color: #193728 }
table.album-showcast .image img { border: 1px solid #ffffff }
table.tracks td { color: #000f00 }
table.tracks tr:nth-child(2n+1) { background-color: #ffffff }
#top-tags { background-color: #ffffff }
#tags-links li { color: #000500 }
#tags-links li a { color: #193728 }
div#footer { background: #dcdcdc; color: #001E0F; }
div#footer a { color: #001E0F; }
