
body { background:#F05500; }
h1 { color: #5A1E05 }
div#logo h1 { color: #5A1E05 }
#menu-links ul > li a { color: #410500 }
#breadcrumbs { color: #410500 }
#breadcrumbs a { color: #410500; }
table.album-showcast .release-date { color: #370000 }
table.album-showcast .summary { color: #4b0f00 }
table.album-showcast a { color: #73371e }
table.album-showcast .image img { border: 1px solid #ff640f }
table.tracks td { color: #4b0f00 }
table.tracks tr:nth-child(2n+1) { background-color: #ff6e19 }
#top-tags { background-color: #ff6e19 }
#tags-links li { color: #410500 }
#tags-links li a { color: #73371e }
div#footer { background: #d23700; color: #5A1E05; }
div#footer a { color: #5A1E05; }
