
body { background:#FFFAFF; }
h1 { color: #00460F }
div#logo h1 { color: #00460F }
#menu-links ul > li a { color: #002d00 }
#breadcrumbs { color: #002d00 }
#breadcrumbs a { color: #002d00; }
table.album-showcast .release-date { color: #002300 }
table.album-showcast .summary { color: #003700 }
table.album-showcast a { color: #195f28 }
table.album-showcast .image img { border: 1px solid #ffffff }
table.tracks td { color: #003700 }
table.tracks tr:nth-child(2n+1) { background-color: #ffffff }
#top-tags { background-color: #ffffff }
#tags-links li { color: #002d00 }
#tags-links li a { color: #195f28 }
div#footer { background: #e1dce1; color: #00460F; }
div#footer a { color: #00460F; }
