
body { background:#14140F; }
h1 { color: #F5FFF5 }
div#logo h1 { color: #F5FFF5 }
#menu-links ul > li a { color: #dce6dc }
#breadcrumbs { color: #dce6dc }
#breadcrumbs a { color: #dce6dc; }
table.album-showcast .release-date { color: #d2dcd2 }
table.album-showcast .summary { color: #e6f0e6 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #23231e }
table.tracks td { color: #e6f0e6 }
table.tracks tr:nth-child(2n+1) { background-color: #2d2d28 }
#top-tags { background-color: #2d2d28 }
#tags-links li { color: #dce6dc }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #F5FFF5; }
div#footer a { color: #F5FFF5; }
