
body { background:#323228; }
h1 { color: #F5FAF5 }
div#logo h1 { color: #F5FAF5 }
#menu-links ul > li a { color: #dce1dc }
#breadcrumbs { color: #dce1dc }
#breadcrumbs a { color: #dce1dc; }
table.album-showcast .release-date { color: #d2d7d2 }
table.album-showcast .summary { color: #e6ebe6 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #414137 }
table.tracks td { color: #e6ebe6 }
table.tracks tr:nth-child(2n+1) { background-color: #4b4b41 }
#top-tags { background-color: #4b4b41 }
#tags-links li { color: #dce1dc }
#tags-links li a { color: #ffffff }
div#footer { background: #14140a; color: #F5FAF5; }
div#footer a { color: #F5FAF5; }
