
body { background:#056E82; }
h1 { color: #006478 }
div#logo h1 { color: #006478 }
#menu-links ul > li a { color: #004b5f }
#breadcrumbs { color: #004b5f }
#breadcrumbs a { color: #004b5f; }
table.album-showcast .release-date { color: #004155 }
table.album-showcast .summary { color: #005569 }
table.album-showcast a { color: #197d91 }
table.album-showcast .image img { border: 1px solid #147d91 }
table.tracks td { color: #005569 }
table.tracks tr:nth-child(2n+1) { background-color: #1e879b }
#top-tags { background-color: #1e879b }
#tags-links li { color: #004b5f }
#tags-links li a { color: #197d91 }
div#footer { background: #005064; color: #006478; }
div#footer a { color: #006478; }
