
body { background:#2D5073; }
h1 { color: #000A23 }
div#logo h1 { color: #000A23 }
#menu-links ul > li a { color: #00000a }
#breadcrumbs { color: #00000a }
#breadcrumbs a { color: #00000a; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #000014 }
table.album-showcast a { color: #19233c }
table.album-showcast .image img { border: 1px solid #3c5f82 }
table.tracks td { color: #000014 }
table.tracks tr:nth-child(2n+1) { background-color: #46698c }
#top-tags { background-color: #46698c }
#tags-links li { color: #00000a }
#tags-links li a { color: #19233c }
div#footer { background: #0f3255; color: #000A23; }
div#footer a { color: #000A23; }
