
body { background:#141414; }
h1 { color: #E6E6DC }
div#logo h1 { color: #E6E6DC }
#menu-links ul > li a { color: #cdcdc3 }
#breadcrumbs { color: #cdcdc3 }
#breadcrumbs a { color: #cdcdc3; }
table.album-showcast .release-date { color: #c3c3b9 }
table.album-showcast .summary { color: #d7d7cd }
table.album-showcast a { color: #fffff5 }
table.album-showcast .image img { border: 1px solid #232323 }
table.tracks td { color: #d7d7cd }
table.tracks tr:nth-child(2n+1) { background-color: #2d2d2d }
#top-tags { background-color: #2d2d2d }
#tags-links li { color: #cdcdc3 }
#tags-links li a { color: #fffff5 }
div#footer { background: #000000; color: #E6E6DC; }
div#footer a { color: #E6E6DC; }
