
body { background:#EBE1C8; }
h1 { color: #283228 }
div#logo h1 { color: #283228 }
#menu-links ul > li a { color: #0f190f }
#breadcrumbs { color: #0f190f }
#breadcrumbs a { color: #0f190f; }
table.album-showcast .release-date { color: #050f05 }
table.album-showcast .summary { color: #192319 }
table.album-showcast a { color: #414b41 }
table.album-showcast .image img { border: 1px solid #faf0d7 }
table.tracks td { color: #192319 }
table.tracks tr:nth-child(2n+1) { background-color: #fffae1 }
#top-tags { background-color: #fffae1 }
#tags-links li { color: #0f190f }
#tags-links li a { color: #414b41 }
div#footer { background: #cdc3aa; color: #283228; }
div#footer a { color: #283228; }
