
body { background:#190F0A; }
h1 { color: #FAF0E6 }
div#logo h1 { color: #FAF0E6 }
#menu-links ul > li a { color: #e1d7cd }
#breadcrumbs { color: #e1d7cd }
#breadcrumbs a { color: #e1d7cd; }
table.album-showcast .release-date { color: #d7cdc3 }
table.album-showcast .summary { color: #ebe1d7 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #281e19 }
table.tracks td { color: #ebe1d7 }
table.tracks tr:nth-child(2n+1) { background-color: #322823 }
#top-tags { background-color: #322823 }
#tags-links li { color: #e1d7cd }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #FAF0E6; }
div#footer a { color: #FAF0E6; }
