
body { background:#19AAEB; }
h1 { color: #00326E }
div#logo h1 { color: #00326E }
#menu-links ul > li a { color: #001955 }
#breadcrumbs { color: #001955 }
#breadcrumbs a { color: #001955; }
table.album-showcast .release-date { color: #000f4b }
table.album-showcast .summary { color: #00235f }
table.album-showcast a { color: #194b87 }
table.album-showcast .image img { border: 1px solid #28b9fa }
table.tracks td { color: #00235f }
table.tracks tr:nth-child(2n+1) { background-color: #32c3ff }
#top-tags { background-color: #32c3ff }
#tags-links li { color: #001955 }
#tags-links li a { color: #194b87 }
div#footer { background: #008ccd; color: #00326E; }
div#footer a { color: #00326E; }
