
body { background:#822828; }
h1 { color: #FFFFFA }
div#logo h1 { color: #FFFFFA }
#menu-links ul > li a { color: #e6e6e1 }
#breadcrumbs { color: #e6e6e1 }
#breadcrumbs a { color: #e6e6e1; }
table.album-showcast .release-date { color: #dcdcd7 }
table.album-showcast .summary { color: #f0f0eb }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #913737 }
table.tracks td { color: #f0f0eb }
table.tracks tr:nth-child(2n+1) { background-color: #9b4141 }
#top-tags { background-color: #9b4141 }
#tags-links li { color: #e6e6e1 }
#tags-links li a { color: #ffffff }
div#footer { background: #640a0a; color: #FFFFFA; }
div#footer a { color: #FFFFFA; }
