
body { background:#050F14; }
h1 { color: #B4B4B4 }
div#logo h1 { color: #B4B4B4 }
#menu-links ul > li a { color: #9b9b9b }
#breadcrumbs { color: #9b9b9b }
#breadcrumbs a { color: #9b9b9b; }
table.album-showcast .release-date { color: #919191 }
table.album-showcast .summary { color: #a5a5a5 }
table.album-showcast a { color: #cdcdcd }
table.album-showcast .image img { border: 1px solid #141e23 }
table.tracks td { color: #a5a5a5 }
table.tracks tr:nth-child(2n+1) { background-color: #1e282d }
#top-tags { background-color: #1e282d }
#tags-links li { color: #9b9b9b }
#tags-links li a { color: #cdcdcd }
div#footer { background: #000000; color: #B4B4B4; }
div#footer a { color: #B4B4B4; }
