
body { background:#191437; }
h1 { color: #E1E6F0 }
div#logo h1 { color: #E1E6F0 }
#menu-links ul > li a { color: #c8cdd7 }
#breadcrumbs { color: #c8cdd7 }
#breadcrumbs a { color: #c8cdd7; }
table.album-showcast .release-date { color: #bec3cd }
table.album-showcast .summary { color: #d2d7e1 }
table.album-showcast a { color: #faffff }
table.album-showcast .image img { border: 1px solid #282346 }
table.tracks td { color: #d2d7e1 }
table.tracks tr:nth-child(2n+1) { background-color: #322d50 }
#top-tags { background-color: #322d50 }
#tags-links li { color: #c8cdd7 }
#tags-links li a { color: #faffff }
div#footer { background: #000019; color: #E1E6F0; }
div#footer a { color: #E1E6F0; }
