
body { background:#5A4637; }
h1 { color: #230A00 }
div#logo h1 { color: #230A00 }
#menu-links ul > li a { color: #0a0000 }
#breadcrumbs { color: #0a0000 }
#breadcrumbs a { color: #0a0000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #140000 }
table.album-showcast a { color: #3c2319 }
table.album-showcast .image img { border: 1px solid #695546 }
table.tracks td { color: #140000 }
table.tracks tr:nth-child(2n+1) { background-color: #735f50 }
#top-tags { background-color: #735f50 }
#tags-links li { color: #0a0000 }
#tags-links li a { color: #3c2319 }
div#footer { background: #3c2819; color: #230A00; }
div#footer a { color: #230A00; }
