
body { background:#FAFAFA; }
h1 { color: #140F05 }
div#logo h1 { color: #140F05 }
#menu-links ul > li a { color: #000000 }
#breadcrumbs { color: #000000 }
#breadcrumbs a { color: #000000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #050000 }
table.album-showcast a { color: #2d281e }
table.album-showcast .image img { border: 1px solid #ffffff }
table.tracks td { color: #050000 }
table.tracks tr:nth-child(2n+1) { background-color: #ffffff }
#top-tags { background-color: #ffffff }
#tags-links li { color: #000000 }
#tags-links li a { color: #2d281e }
div#footer { background: #dcdcdc; color: #140F05; }
div#footer a { color: #140F05; }
