
body { background:#0F002D; }
h1 { color: #FAD7DC }
div#logo h1 { color: #FAD7DC }
#menu-links ul > li a { color: #e1bec3 }
#breadcrumbs { color: #e1bec3 }
#breadcrumbs a { color: #e1bec3; }
table.album-showcast .release-date { color: #d7b4b9 }
table.album-showcast .summary { color: #ebc8cd }
table.album-showcast a { color: #fff0f5 }
table.album-showcast .image img { border: 1px solid #1e0f3c }
table.tracks td { color: #ebc8cd }
table.tracks tr:nth-child(2n+1) { background-color: #281946 }
#top-tags { background-color: #281946 }
#tags-links li { color: #e1bec3 }
#tags-links li a { color: #fff0f5 }
div#footer { background: #00000f; color: #FAD7DC; }
div#footer a { color: #FAD7DC; }
