
body { background:#140500; }
h1 { color: #F0F0E1 }
div#logo h1 { color: #F0F0E1 }
#menu-links ul > li a { color: #d7d7c8 }
#breadcrumbs { color: #d7d7c8 }
#breadcrumbs a { color: #d7d7c8; }
table.album-showcast .release-date { color: #cdcdbe }
table.album-showcast .summary { color: #e1e1d2 }
table.album-showcast a { color: #fffffa }
table.album-showcast .image img { border: 1px solid #23140f }
table.tracks td { color: #e1e1d2 }
table.tracks tr:nth-child(2n+1) { background-color: #2d1e19 }
#top-tags { background-color: #2d1e19 }
#tags-links li { color: #d7d7c8 }
#tags-links li a { color: #fffffa }
div#footer { background: #000000; color: #F0F0E1; }
div#footer a { color: #F0F0E1; }
