
body { background:#0F1919; }
h1 { color: #FAFFFF }
div#logo h1 { color: #FAFFFF }
#menu-links ul > li a { color: #e1e6e6 }
#breadcrumbs { color: #e1e6e6 }
#breadcrumbs a { color: #e1e6e6; }
table.album-showcast .release-date { color: #d7dcdc }
table.album-showcast .summary { color: #ebf0f0 }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #1e2828 }
table.tracks td { color: #ebf0f0 }
table.tracks tr:nth-child(2n+1) { background-color: #283232 }
#top-tags { background-color: #283232 }
#tags-links li { color: #e1e6e6 }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #FAFFFF; }
div#footer a { color: #FAFFFF; }
