
body { background:#282D32; }
h1 { color: #F5F5FA }
div#logo h1 { color: #F5F5FA }
#menu-links ul > li a { color: #dcdce1 }
#breadcrumbs { color: #dcdce1 }
#breadcrumbs a { color: #dcdce1; }
table.album-showcast .release-date { color: #d2d2d7 }
table.album-showcast .summary { color: #e6e6eb }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #373c41 }
table.tracks td { color: #e6e6eb }
table.tracks tr:nth-child(2n+1) { background-color: #41464b }
#top-tags { background-color: #41464b }
#tags-links li { color: #dcdce1 }
#tags-links li a { color: #ffffff }
div#footer { background: #0a0f14; color: #F5F5FA; }
div#footer a { color: #F5F5FA; }
