
body { background:#140000; }
h1 { color: #A00A00 }
div#logo h1 { color: #A00A00 }
#menu-links ul > li a { color: #870000 }
#breadcrumbs { color: #870000 }
#breadcrumbs a { color: #870000; }
table.album-showcast .release-date { color: #7d0000 }
table.album-showcast .summary { color: #910000 }
table.album-showcast a { color: #b92319 }
table.album-showcast .image img { border: 1px solid #230f0f }
table.tracks td { color: #910000 }
table.tracks tr:nth-child(2n+1) { background-color: #2d1919 }
#top-tags { background-color: #2d1919 }
#tags-links li { color: #870000 }
#tags-links li a { color: #b92319 }
div#footer { background: #000000; color: #A00A00; }
div#footer a { color: #A00A00; }
