
body { background:#28190F; }
h1 { color: #D7DCD2 }
div#logo h1 { color: #D7DCD2 }
#menu-links ul > li a { color: #bec3b9 }
#breadcrumbs { color: #bec3b9 }
#breadcrumbs a { color: #bec3b9; }
table.album-showcast .release-date { color: #b4b9af }
table.album-showcast .summary { color: #c8cdc3 }
table.album-showcast a { color: #f0f5eb }
table.album-showcast .image img { border: 1px solid #37281e }
table.tracks td { color: #c8cdc3 }
table.tracks tr:nth-child(2n+1) { background-color: #413228 }
#top-tags { background-color: #413228 }
#tags-links li { color: #bec3b9 }
#tags-links li a { color: #f0f5eb }
div#footer { background: #0a0000; color: #D7DCD2; }
div#footer a { color: #D7DCD2; }
