
body { background:#140F05; }
h1 { color: #FAC337 }
div#logo h1 { color: #FAC337 }
#menu-links ul > li a { color: #e1aa1e }
#breadcrumbs { color: #e1aa1e }
#breadcrumbs a { color: #e1aa1e; }
table.album-showcast .release-date { color: #d7a014 }
table.album-showcast .summary { color: #ebb428 }
table.album-showcast a { color: #ffdc50 }
table.album-showcast .image img { border: 1px solid #231e14 }
table.tracks td { color: #ebb428 }
table.tracks tr:nth-child(2n+1) { background-color: #2d281e }
#top-tags { background-color: #2d281e }
#tags-links li { color: #e1aa1e }
#tags-links li a { color: #ffdc50 }
div#footer { background: #000000; color: #FAC337; }
div#footer a { color: #FAC337; }
