
body { background:#2D1919; }
h1 { color: #E1DCD2 }
div#logo h1 { color: #E1DCD2 }
#menu-links ul > li a { color: #c8c3b9 }
#breadcrumbs { color: #c8c3b9 }
#breadcrumbs a { color: #c8c3b9; }
table.album-showcast .release-date { color: #beb9af }
table.album-showcast .summary { color: #d2cdc3 }
table.album-showcast a { color: #faf5eb }
table.album-showcast .image img { border: 1px solid #3c2828 }
table.tracks td { color: #d2cdc3 }
table.tracks tr:nth-child(2n+1) { background-color: #463232 }
#top-tags { background-color: #463232 }
#tags-links li { color: #c8c3b9 }
#tags-links li a { color: #faf5eb }
div#footer { background: #0f0000; color: #E1DCD2; }
div#footer a { color: #E1DCD2; }
