
body { background:#F5EB6E; }
h1 { color: #0F2D46 }
div#logo h1 { color: #0F2D46 }
#menu-links ul > li a { color: #00142d }
#breadcrumbs { color: #00142d }
#breadcrumbs a { color: #00142d; }
table.album-showcast .release-date { color: #000a23 }
table.album-showcast .summary { color: #001e37 }
table.album-showcast a { color: #28465f }
table.album-showcast .image img { border: 1px solid #fffa7d }
table.tracks td { color: #001e37 }
table.tracks tr:nth-child(2n+1) { background-color: #ffff87 }
#top-tags { background-color: #ffff87 }
#tags-links li { color: #00142d }
#tags-links li a { color: #28465f }
div#footer { background: #d7cd50; color: #0F2D46; }
div#footer a { color: #0F2D46; }
