
body { background:#5A505F; }
h1 { color: #282323 }
div#logo h1 { color: #282323 }
#menu-links ul > li a { color: #0f0a0a }
#breadcrumbs { color: #0f0a0a }
#breadcrumbs a { color: #0f0a0a; }
table.album-showcast .release-date { color: #050000 }
table.album-showcast .summary { color: #191414 }
table.album-showcast a { color: #413c3c }
table.album-showcast .image img { border: 1px solid #695f6e }
table.tracks td { color: #191414 }
table.tracks tr:nth-child(2n+1) { background-color: #736978 }
#top-tags { background-color: #736978 }
#tags-links li { color: #0f0a0a }
#tags-links li a { color: #413c3c }
div#footer { background: #3c3241; color: #282323; }
div#footer a { color: #282323; }
