
body { background:#190000; }
h1 { color: #E1CDC8 }
div#logo h1 { color: #E1CDC8 }
#menu-links ul > li a { color: #c8b4af }
#breadcrumbs { color: #c8b4af }
#breadcrumbs a { color: #c8b4af; }
table.album-showcast .release-date { color: #beaaa5 }
table.album-showcast .summary { color: #d2beb9 }
table.album-showcast a { color: #fae6e1 }
table.album-showcast .image img { border: 1px solid #280f0f }
table.tracks td { color: #d2beb9 }
table.tracks tr:nth-child(2n+1) { background-color: #321919 }
#top-tags { background-color: #321919 }
#tags-links li { color: #c8b4af }
#tags-links li a { color: #fae6e1 }
div#footer { background: #000000; color: #E1CDC8; }
div#footer a { color: #E1CDC8; }
