
body { background:#0F1414; }
h1 { color: #F5FFFA }
div#logo h1 { color: #F5FFFA }
#menu-links ul > li a { color: #dce6e1 }
#breadcrumbs { color: #dce6e1 }
#breadcrumbs a { color: #dce6e1; }
table.album-showcast .release-date { color: #d2dcd7 }
table.album-showcast .summary { color: #e6f0eb }
table.album-showcast a { color: #ffffff }
table.album-showcast .image img { border: 1px solid #1e2323 }
table.tracks td { color: #e6f0eb }
table.tracks tr:nth-child(2n+1) { background-color: #282d2d }
#top-tags { background-color: #282d2d }
#tags-links li { color: #dce6e1 }
#tags-links li a { color: #ffffff }
div#footer { background: #000000; color: #F5FFFA; }
div#footer a { color: #F5FFFA; }
