
body { background:#E1E1DC; }
h1 { color: #0A0A14 }
div#logo h1 { color: #0A0A14 }
#menu-links ul > li a { color: #000000 }
#breadcrumbs { color: #000000 }
#breadcrumbs a { color: #000000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #000005 }
table.album-showcast a { color: #23232d }
table.album-showcast .image img { border: 1px solid #f0f0eb }
table.tracks td { color: #000005 }
table.tracks tr:nth-child(2n+1) { background-color: #fafaf5 }
#top-tags { background-color: #fafaf5 }
#tags-links li { color: #000000 }
#tags-links li a { color: #23232d }
div#footer { background: #c3c3be; color: #0A0A14; }
div#footer a { color: #0A0A14; }
