
body { background:#9B9B91; }
h1 { color: #140F0A }
div#logo h1 { color: #140F0A }
#menu-links ul > li a { color: #000000 }
#breadcrumbs { color: #000000 }
#breadcrumbs a { color: #000000; }
table.album-showcast .release-date { color: #000000 }
table.album-showcast .summary { color: #050000 }
table.album-showcast a { color: #2d2823 }
table.album-showcast .image img { border: 1px solid #aaaaa0 }
table.tracks td { color: #050000 }
table.tracks tr:nth-child(2n+1) { background-color: #b4b4aa }
#top-tags { background-color: #b4b4aa }
#tags-links li { color: #000000 }
#tags-links li a { color: #2d2823 }
div#footer { background: #7d7d73; color: #140F0A; }
div#footer a { color: #140F0A; }
