
body { background:#D2C8CD; }
h1 { color: #32282D }
div#logo h1 { color: #32282D }
#menu-links ul > li a { color: #190f14 }
#breadcrumbs { color: #190f14 }
#breadcrumbs a { color: #190f14; }
table.album-showcast .release-date { color: #0f050a }
table.album-showcast .summary { color: #23191e }
table.album-showcast a { color: #4b4146 }
table.album-showcast .image img { border: 1px solid #e1d7dc }
table.tracks td { color: #23191e }
table.tracks tr:nth-child(2n+1) { background-color: #ebe1e6 }
#top-tags { background-color: #ebe1e6 }
#tags-links li { color: #190f14 }
#tags-links li a { color: #4b4146 }
div#footer { background: #b4aaaf; color: #32282D; }
div#footer a { color: #32282D; }
