
body { background:#0A1419; }
h1 { color: #FFD7BE }
div#logo h1 { color: #FFD7BE }
#menu-links ul > li a { color: #e6bea5 }
#breadcrumbs { color: #e6bea5 }
#breadcrumbs a { color: #e6bea5; }
table.album-showcast .release-date { color: #dcb49b }
table.album-showcast .summary { color: #f0c8af }
table.album-showcast a { color: #fff0d7 }
table.album-showcast .image img { border: 1px solid #192328 }
table.tracks td { color: #f0c8af }
table.tracks tr:nth-child(2n+1) { background-color: #232d32 }
#top-tags { background-color: #232d32 }
#tags-links li { color: #e6bea5 }
#tags-links li a { color: #fff0d7 }
div#footer { background: #000000; color: #FFD7BE; }
div#footer a { color: #FFD7BE; }
