
body { background:#140F0A; }
h1 { color: #CDBE64 }
div#logo h1 { color: #CDBE64 }
#menu-links ul > li a { color: #b4a54b }
#breadcrumbs { color: #b4a54b }
#breadcrumbs a { color: #b4a54b; }
table.album-showcast .release-date { color: #aa9b41 }
table.album-showcast .summary { color: #beaf55 }
table.album-showcast a { color: #e6d77d }
table.album-showcast .image img { border: 1px solid #231e19 }
table.tracks td { color: #beaf55 }
table.tracks tr:nth-child(2n+1) { background-color: #2d2823 }
#top-tags { background-color: #2d2823 }
#tags-links li { color: #b4a54b }
#tags-links li a { color: #e6d77d }
div#footer { background: #000000; color: #CDBE64; }
div#footer a { color: #CDBE64; }
